html{/*font-size:62.5%;*/}
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, em, font, img, ins, small, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {margin: 0;padding: 0;-webkit-tap-highlight-color:transparent;}
body {background:#f9f9f9;color: #666; width:100%;font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif;}
ol, ul,li{list-style: none outside none;}
:focus {outline: 0 none;}
a{color:#666666;text-decoration:none;}
a:hover{color:#666;text-decoration:none;}
a img {border: 0 none;}
fieldset, img {border: 0;vertical-align: middle;}
select, input, button, textarea {padding: 0;}
input {vertical-align: middle;  font-family: "Microsoft YaHei", "微软雅黑"}
button,html input[type="button"],input[type="reset"],input[type="submit"] {-webkit-appearance: button;cursor: pointer;*overflow: visible;}
button[disabled],input[disabled] {cursor: default;}
textarea {resize: none;overflow: auto; font-family: "Microsoft YaHei", "微软雅黑"}
.clear{ clear:both;}

.clearFix:after{
    clear:both;
    display:block;
    visibility:hidden;
    height:0;
    line-height:0;
    content:'';
}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix{*zoom:1;}




nav{ height: 6rem; padding:2rem; background: #fff; border-bottom: .1rem solid #ddd;}
nav span{ display: inline-block; width: 4rem; height: 4rem; margin: 1rem 0; float: left; margin-right: 2rem;}
nav span img{ width: 4rem; transform: rotate(180deg)}
nav p{ line-height: 6rem; font-size:3rem;}
footer{ width: 100%; position: fixed; height: 8rem; left: 0; bottom: 0; border-top: .1rem solid #ddd; background: #fff; z-index: 1000; padding: 1rem 0}
footer li{ width: 33.33%; text-align: center; float: left;}
footer li i{ display: none;}
footer li.cur i,footer li b{ display: inline-block; width: 4rem; height: 4rem;}
footer li.cur b{ display: none}
footer li img{ width: 4rem; height: 4rem;}
footer li p{ line-height: 4rem; font-size: 3rem;}

@media only screen and (min-width:640px){
    body{ width:640px; margin:0 auto;}

}

.page-content{padding: 20px; background-color: #fff; color: #3e3e3e}
.rich_media_title {
    padding-bottom: 10px;
    margin-bottom: 14px;
    border-bottom: 1px solid #e7e7eb;
    line-height: 1.4;
    font-weight: 500;
    font-size: 36px; color: #000;
}
.rich_media_meta_list {    margin-bottom: 18px;    line-height: 1.4;    font-size: 24px;}
.rich_media_meta_list .date{  display: inline-block;  font-family: Arial;   vertical-align: middle;    margin-right: 8px;    margin-bottom: 10px;    }
.rich_media_meta_list .nickname{ display: inline-block;  vertical-align: middle;    margin-right: 8px;    margin-bottom: 10px; color: #607fa6;    text-decoration: none;}

.rich_media_meta_list .nickname a{ color: #607fa6;    text-decoration: none;}

.content_txt{font-size: 20px; line-height: 1.4;}


/* shop list */
.shop_list{margin-top: 10px; }
.shop_list li{background-color: #ffffff; padding-bottom:15px; border-top: 1px solid #d5d5d5;}
.shop_list li .img{ margin-top: 10px;border-radius: 3px; width: 80px ; float: left}
.shop_list li .shop_info{ margin-left:90px; }
.shop_list li .shop_title{border-bottom: 1px dashed #949FB1; color: #000; line-height: 60px; height: 60px; font-size:32px;}
.shop_list li .shop_remark{ line-height:1.4; padding-top: 5px;font-size: 24px;}

.alert-warning{color: #8a6d3b;background-color: #fcf8e3;border-color: #faebcc;padding: 2rem;margin:4rem; font-size: 3rem; border-radius: .6rem;}
.qrcode_div{text-align: center; padding: 2rem}