.car_mes{}
.car_mes .swiper-slide{text-align:center;}
.car_mes .swiper-pagination{bottom:10px;}
.car_mes .swiper-pagination-bullet{width:30px; height:5px;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0; background:#000;filter:alpha(opacity=40);opacity:0.4; }
.car_mes .swiper-pagination-bullet-active{background:#e7001b;filter:alpha(opacity=90);opacity:0.9; }

.mod-tit{ line-height:45px; font-size:18px; width: 95%; margin:0 auto; color:#f60;  border-bottom:1px solid #d5d5d5; position:relative;}
.mod-tit span{ float: right; font-size: 14px; color: #888; display: block}
.mod-tit span a{ display: inline-block}

.br_box{ overflow: hidden; background-color: #fff;}
.br_box ul{width: 100%;}
.br_box li{ padding: 10px 0px; float: left; width: 33.33%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; /* border-right: 1px dashed #ccc; */ border-top: 1px dashed #ccc;position: relative; text-align: center}
.br_box li:nth-child(3n){ border-right: none;}
.br_box li:nth-child(1),.br_box li:nth-child(2),.br_box li:nth-child(3){ border-top: 0;}
.br_box li a{ display: block; text-align: center; width: 100%;}
.br_box li a>div{text-align: center;    vertical-align: middle; display: block;  height: 80px;/* nzj */ margin-bottom: 7px;}
.br_box li img{ width: 80px;}
.br_box li span{ font-size: 14px; line-height: 30px; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;color: #333; display: block; text-align: center}


.my-navbar{display:-webkit-box;display:-webkit-flex;display:flex;z-index:500;top:0;width:100%;background-color:#fafafa}
.my-navbar:after{content:" ";position:absolute;left:0;bottom:0;right:0;height:1px;border-bottom:1px solid #CCC;color:#CCC;-webkit-transform-origin:0 100%;transform-origin:0 100%;-webkit-transform:scaleY(.5);transform:scaleY(.5)}
.my-navbar__item{position:relative;display:block;-webkit-box-flex:1;-webkit-flex:1;flex:1;padding:5px 0;text-align:center;font-size:15px;-webkit-tap-highlight-color:transparent}
.my-navbar__item.my-navbar__item_on{color:#1AAD19;border-bottom:2px solid #1AAD19}
.my-navbar__item a{display:block;color:#000}
.my-navbar__item.my-navbar__item_on a{color:#1AAD19}

/* .commoditylist_content{width:100%;height:auto;border-top:1px solid #f3f3f3}
.commoditylist_content a{border:none;text-decoration:none; display: block}
.commoditylist_content li{height:auto;background:#fff;position:relative;padding:.5rem 1rem;border-bottom:1px solid #f3f3f3}
.commoditylist_content li .imgspan{display:inline-block;position:relative}
.commoditylist_content li img{width:100px;height:100px}
.commoditylist_content li .info{position:absolute;left:116px;top:.5rem;bottom:.5rem;padding-left:.8rem}
.commoditylist_content li .info .cd_title{color:#000;font-weight:400;font-size:17px;width:auto;overflow:hidden;text-overflow:ellipsis;word-wrap:normal;word-wrap:break-word;word-break:break-all;max-height:50px}
.commoditylist_content li i{color:#ccc;font-size:20px;position:absolute;top:2rem;bottom:.5rem;right:1rem;padding-left:.8rem}
.commoditylist_content .cd_ensure{font-size:12px;color:#666;margin-top:3px;display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.commoditylist_content .cd_money{font-size:18px;color:red}
.commoditylist_content .cd_money span{font-size:12px;color:red}
.commoditylist_content .cd_money label{background:#ffc956;color:#fff;border-radius:3px;font-size:10px;margin-left:7px;padding:0 2px}
.commoditylist_content .cd_sales{font-size:12px;color:#666;position:absolute;bottom:.5rem} */

/* goods_detail*/
.goods-header{display:block;height:auto;padding:10px 0 0;-webkit-tap-highlight-color:transparent;border-top:1px solid #f2f2f2;border-bottom:1px solid #d9d9d9;background-color:#fff;margin-bottom:10px;position:relative}
.goods-header .title{font-weight:400;margin:0;padding:0 10px;font-size:16px;line-height:22px;text-align:left;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical}
.goods-price{color:#f60;font-size:14px;padding:0 10px}
.goods-price i{font-weight:400;font-style:normal;font-size:18px;vertical-align:baseline}
.stock-detail{position:relative;color:#999;background-color:#fff;padding:0 10px 10px 10px;display:inline-block;font-size:12px}

.bottom_opts{position: fixed;  border-top: 1px solid #efefef; bottom: -1px; height: 50px;    width: 100%;   background-color: #F7F7FA;    left:0;}
.bottom_opts i{font-size: 20px; margin: 0px;}
.bottom_opts p{    color: #999999;    font-size: 12px; line-height: 20px; margin-top:-5px; padding: 0;}
.bottom_opts a{padding-top: 0px;    text-align: center;    color: #999999;    font-size: 12px;}
.bottom_opts .opt_home{float: left; width: 15%;}
.bottom_opts .opt_cart{float: left; width: 15%;}
.bottom_opts .opt_add{float: left; width: 35%;background-color: #f85;color: #fff; display: block;line-height: 50px; font-size: 16px;}
.bottom_opts .opt_buy{float: left; width: 35%;background-color: #f44;color: #fff; display: block;line-height: 50px; font-size: 16px;}

.bottom_opts .opt_presale{float: right; width: 50%;background-color: #f44;color: #fff; display: block;line-height: 50px; font-size: 16px;}
.bottom_opts .opt_empty{float: right; width: 50%;background-color: #f85; text-align:center;color: #fff; display: block;line-height: 50px; font-size: 16px;}

.wrap-input{float: right; padding-top: 5px;}
.wrap-input span{width: 20px; text-align: center; height: 20px;line-height: 20px; background: #f1f1f1;
    color: #666; border: 1px solid #ccc;float: left;display: block}
.wrap-input input{width: 20px; text-align: center; height: 20px; line-height: 20px; background: #f1f1f1;
    color: #666; border: 0px; border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;float: left;display: block}


/*cart*/

.cart_box{position:relative;margin-top:10px;padding:0 10px;border-top:1px solid #ddd;border-bottom:1px solid #ddd;background:#fff}
.cart_box .shopBar{display:block;height:40px;border-bottom:1px solid #eee;font-size:14px;line-height:40px;color: #333; position: relative}
.cart_box .shopBar i{font-size: 16px; color: #e4393c; margin-right: 4px;}
.cart_box .shopBar em:after{content:'\20';display:block;right:15px;position:absolute;top:50%;width:12px;height:12px;border-top:1px solid #7d7d7d;border-left:1px solid #7d7d7d;background:0 0;margin-top:-6px;transform:rotate(135deg);-webkit-transform:rotate(135deg)}

/*.cart_box .checkbox{ float: left; margin: 15px 5px; width: 20px; height: 20px;}*/
/*.cart_box .goods_item{margin-top:10px; font-size: 14px;color: #333; position: relative}
.cart_box .goods_item .image{float:left;margin-right:10px;height:80px; width: 80px;}
.cart_box .goods_item .spec{padding: 3px 10px; margin-right: 10px; background-color: #ddd}
.cart_box .del{ position: absolute; right: 10px; top: 0px; color: #999999;}
.cart_box .wrap-input{margin-top: 35px;}
.cart_box .cart_foot{text-align: right; padding-right: 10px; line-height: 40px;border-top: 1px solid #ddd; margin-top: 5px;}
.cart_box .cart_foot em{font-weight: 700; color: #e4393c;}*/
.cart_box .cart_foot{text-align: right; padding-right: 10px; line-height: 40px;border-top: 1px solid #ddd; margin-top: 5px;}
.cart_box .cart_foot em{font-weight: 700; color: #e4393c;}

.cart_box .goods_item{margin-top:10px;height:90px; font-size: 14px;color: #333; position: relative}
.cart_box .goods_item .goods_item__left{position: absolute;top:0;left:0;width: 110px;text-align: center;}
.cart_box .goods_item .goods_item__left .checkbox{ width: 20px;height: 20px;float: left;margin-top: 30px;}
.cart_box .goods_item .goods_item__left .image{height:80px; width: 80px;float: left;}
.cart_box .goods_item .oi_content{margin-left: 110px;margin-right: 67px;}
.cart_box .goods_item .oi_content .oi_content__til { overflow:hidden; text-overflow:ellipsis; -o-text-overflow:ellipsis;display: -webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2; line-height: 18px; }
.cart_box .goods_item .oi_content .money {font-size: 12px;}
.cart_box .goods_item .oi_content .count .surplus {font-size: 10px;}
.cart_box .goods_item .spec{padding: 3px 5px;margin-top: 2px; margin-right: 5px; background-color: #ddd;font-size: 10px;}
.cart_box .goods_item .wrap-input{position: absolute;right: 0;bottom: 10px;}
.cart_box .del{ position: absolute; right: 10px; top: 0; color: #999999;}


.cart_bottom{position: fixed;  border-top: 1px solid #ddd; bottom: -1px; height: 49px;    width: 100%;   background-color: #F7F7FA;    left:0;}
.cart_bottom label{width: 50px; text-align: center;display: block; float: left; font-size: 14px; position: relative}
.cart_bottom label input{width: 16px; height: 16px; position: absolute; top:6px; left: 16px;}
.cart_bottom .total{position: absolute;    top: 0;    right: 0;}
.cart_bottom .total p {    padding-top: 10px;    font-weight: 700;    line-height: 1em;    height: 50px;    text-align: right;    float: left;    font-size: 16px;}
.cart_bottom .total strong {    color: #e4393c;}
.cart_bottom .total small {    padding-top: 2px;    display: block;    font-size: 10px;    color: #666;    font-weight: 400;}
.cart_bottom .total>a {  float: right;display: block;width: 100px; height: 100%; margin-left: 10px; line-height: 50px; font-size: 16px; text-align: center; font-weight: 700;background: #e4393c; color: #fff;}
.cart_bottom .total>a em {    font-weight: 400;    font-size: 12px;    font-family: none;}

/*购买层*/
.bottom_buy_box{z-index: 9999; background-color: #fff;font-size: 14px; position:fixed; bottom:0; left:0; width: 100%;display: none}
.bottom_buy_box dt{border: 1px solid #f3f3f3; padding: 10px;position: relative;}
.bottom_buy_box dt i{position: absolute; right: 8px; top: 8px; color: #ccc; font-size: 20px;}
.bottom_buy_box dt h4{line-height: 28px; font-weight: 400; font-size: 16px;}
.bottom_buy_box dt span{color: #f60;font-size: 18px;}
.bottom_buy_box .buy_box_opts{line-height: 48px; height: 48px;}
.bottom_buy_box .buy_box_opts a{float: left; width: 50%; text-align: center;color: #fff; display: block; font-size: 16px;}
.bottom_buy_box .buy_box_opts .opt0{background-color: #f44; float: none; width: 100%;}
.bottom_buy_box .buy_box_opts .opt1{background-color: #f85;}
.bottom_buy_box .buy_box_opts .opt2{background-color: #f44;}
.bottom_buy_box .choose{padding: 10px 20px; line-height: 30px;}
.bottom_buy_box .stock_count{float: left; line-height: 22px; color: #1a1a1a}
.bottom_buy_box .wrap-input{float: right; padding-top: 5px;}
.bottom_buy_box .wrap-input span{width: 30px; text-align: center; height: 30px;line-height: 30px; background: #f1f1f1;
    color: #666; border: 1px solid #ccc;float: left;display: block}
.bottom_buy_box .wrap-input input{width: 35px; text-align: center; height: 30px;line-height: 30px; background: #f1f1f1;
    color: #666; border: 0px; border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;float: left;display: block}
.bottom_buy_box .spec_choose{padding-top:10px}
.bottom_buy_box .spec_choose span{display:inline-block;padding:0 15px;min-width:20px;max-width:270px;overflow:hidden;height:25px;line-height:25px;float:left;text-align:center;margin-left:10px;margin-bottom:10px;border-radius:3px;color:#333;background-color:#f3f2f8}
.bottom_buy_box .spec_choose span.active{background-color:#e4393c;color:#fff}

/*确认订单*/
.order_address{padding: 10px 10px 10px 3em; position: relative; border-bottom: 2px dashed #c3c3c3;}
.order_address a{color: #333}
.order_address:after{content:'\20';display:block;right:15px;position:absolute;top:50%;width:12px;height:12px;border-top:1px solid #7d7d7d;border-left:1px solid #7d7d7d;background:0 0;margin-top:-6px;transform:rotate(135deg);-webkit-transform:rotate(135deg)}
.order_address h4{position: absolute;    top: 12px;    left: 10px;    width: 2em;    font-weight: 400;    font-size: 14px;    color: #999;}
.order_address p{ line-height: 22px; padding-right: 40px; font-size: 14px;}
.order_address p strong{font-weight: 400; margin-right: 10px;}
.order_address .noadres{ width:100%; text-align:center; padding:15px 0; font-size:16px; color:#999;}

.order_box{position:relative;margin-top:10px;padding:0 10px 10px;border-top:1px solid #ddd;border-bottom:1px solid #ddd;background:#fff}
.order_head{position:relative;min-height:60px;}
.order_head .oh_content{position:relative;display:block;padding:10px 0}
.order_head p{color:#999;font-size:9pt;line-height:1.7em}
.order_head span{color:#666}
.order_head span i{display:inline-block;width:24px}
.co_blue,.co_blue a{color:#3985ff}
.co_red{color:#e4393c}
.order_head .oh_btn{position:absolute;top:14px;right:0;z-index:1;display:block;width:5pc;height:30px;border-radius:2px;background:#e4393c;color:#fff;text-align:center;line-height:30px}
.order_shopBar{display:block;height:40px;border-bottom:1px solid #eee;font-size:14px;line-height:40px;color: #333; position: relative}
.order_shopBar i{font-size: 16px; color: #e4393c; margin-right: 4px;}
.order_shopBar em:after {
    content: '\20';
    display: block;
    right: 15px;
    position: absolute;
    top: 50%;
    width: 12px;
    height: 12px;
    border-top: 1px solid #7d7d7d;
    border-left: 1px solid #7d7d7d;
    background: none;
    margin-top: -6px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.order_item{margin-top:10px; font-size: 14px;color: #333;}
.order_item .image{float:left;margin-right:10px;height:80px;}

.order_box .order_foot{ border-top: 1px solid #ddd; margin-top: 5px;}
.order_box .order_foot .buyer_remark{background-color: #efefef; border: 0px; margin-top: 8px;font-size: 14px; width: 100%;line-height: 25px;}
.order_box .order_foot .foot_money{ float:right;text-align: right; padding-right: 10px; line-height: 25px;font-size: 14px;}
.order_box .order_foot .foot_money em{font-weight: 700; color: #e4393c;}




.order_bottom{position: fixed;  border-top: 1px solid #ddd; bottom: -1px; height: 49px;    width: 100%;   background-color: #F7F7FA;    left:0;}
.order_bottom .total{position: absolute;    top: 0;    right: 0;}
.order_bottom .total p {   font-weight: 700;    line-height: 50px;  text-align: right;    float: left;    font-size: 16px;}
.order_bottom .total strong {    color: #e4393c;}
.order_bottom .total>a {  float: right;display: block; padding: 0 10px 0 20px; height: 100%; margin-left: 10px; line-height: 50px; font-size: 16px; text-align: center; font-weight: 700;background: #e4393c; color: #fff;}
.order_bottom .total>a em {    font-weight: 400;    font-size: 12px;    font-family: none;}




/* 2017-8-22 nzj更改样式 */

/* 字体图标 */
@font-face { font-family: 'iconfont'; src: url('icon_font/iconfont.eot'); /* IE9*/ src: url('icon_font/iconfont.eot?#iefix') format('embedded-opentype'), url('icon_font/iconfont.woff') format('woff'), url('icon_font/iconfont.ttf') format('truetype'), url('icon_font/iconfont.svg#iconfont') format('svg'); }
.iconfont { font-family: "iconfont" !important; font-size: 16px; font-style: normal; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: 0.2px; -moz-osx-font-smoothing: grayscale; }
body { background: #fff; }
.clear { content: ""; display: block; clear: both; }

/* 搜索框 */
.searchBox { margin: 0px auto;width:100%; height: 40px; font-size: 12px; color: #666; border: 1px solid #efefef; box-sizing: border-box; position: relative;}
.searchBox .search-input {margin:6px 67px 0 14px;height: 28px; border-radius: 14px;/*  border: 1px solid #ccc; box-sizing: border-box; */background: #f3f2f8;}
.searchBox .search-input i { width: 25px; height: 25px; margin: 0 .6em;font-size: 18px;line-height: 25px; }
.searchBox .search-input input { border: none; outline:none;width: 80%;background: #f3f2f8;font-size: 12px;}
.searchBox button {width:40px;background: #ff8a3b; border-radius: 5px; border: none; color: #fff; height: 28px;position: absolute;top: 6px; right: 14px;}
/* 轮播 */
.my-banner { height: 175px; }
.my-banner img { height: 100%; }

/* 热门店铺 */
.mod-title { padding: 14px 0; text-align: center; color: #121212; font-size: 14px; position: relative; }
.mod-title span { padding: 0px .7em; }
.mod-title i { width: 36px; display: inline-block; border-top: 1px solid #666; padding-bottom: 4px; }
.mod-title .more { font-size: 10px; display: inline-block; position: absolute; top: 14px; right: 1em; color: #ff7200; }
.my-remendianpu li span { font-size: 10px; color: #ff4040; margin-top: 13px; }
.tuijian { border-bottom: 1px solid #dedede; border-top: 3px solid #dedede; box-sizing: border-box; }
/* 推荐商品 */
.my-commoditylist { font-size: 10px; width: 100%; height: auto; border-top: 1px solid #f3f3f3; }
.my-commoditylist li { width: 100%; height: auto; background: #fff; }
.my-commoditylist li a { display: inline-block; width: 100%; }
.my-commoditylist li .imgspan { display: inline-block; width: 80px; height: 80px; position: absolute; left: -95px; top: 8px; }
.my-commoditylist li .imgspan img { width: 100%; height: 100%; }
.my-commoditylist li .info { position: relative; margin-left: 109px; border-bottom: 1px solid #dedede; height: 95px; }
.info-bottom { width: 100%; position: absolute; bottom: 10px; font-size: 10px; }
.info-bottom p { float: left; box-sizing: border-box; width: 33%; vertical-align: bottom; }
.my-commoditylist .cd_title { color: #333; font-size: 14px;padding-top: 5px; }
.my-commoditylist .cd_money { color: #ff7200; font-size: 12px; text-align: left; }
.my-commoditylist .cd_money var { font-style: normal; }
.my-commoditylist .cd_sales { color: #666; font-size: 10px; text-align: center; }
.my-commoditylist .cd-payment { color: #ff4040; font-size: 10px; text-align: right; }
/* 首页页面样式END */

/* 购物车页面样式 */
.cart_empty { width: 100%; text-align: center; margin-top: 66px; }
.cart_empty .cart-text { font-size: 14px; padding: 10px 0 20px; }
.cart_empty .cart-btn { width: 166px; margin: 0px auto; height: 35px; background: url(images/cartBtn.png) no-repeat center center; border-radius: 0 15px 0 15px; text-align: center; line-height: 35px; color: #fff; font-size: 16px; display: block; }
/* 购物车页面样式END */



/* 分类页面样式 2017-8-25 */
/* 头部 */
.classify_head { background: #efefef; border-bottom: 1px solid #ccc; }

.Menu_box{ margin:0 auto; margin-bottom:50px;overflow:hidden;}

/*.left_Menu{ background-color:#efefef; width: 25%; float:left;position:relative; height: 400px; overflow: hidden;}
.left_Menu li {height: 32px;line-height: 32px;overflow: hidden;}
.left_Menu a{ display:block; text-align:left;text-indent: 1em; border-bottom:#d1d1d1 1px solid; font-size: 14px;color: #333;}
.left_Menu span{ display:block; font-size:1em;}
.left_Menu .cur-nav{ background: #fff;border-right: 1px solid #fff;border-bottom:#d1d1d1 1px solid;}*/

.left_Menu { float: left;height:400px;width:25%;background-color: #efefef; }
.left_Menu ul { height:100%;border-right:1px solid #DEDEDE;box-sizing: border-box;background-color: #efefef; }
.left_Menu ul li{ list-style: none;height: 32px;line-height:32px;border-bottom: 1px solid #ccc;overflow: hidden;}
.left_Menu ul li.cur-nav { background-color: #fff;width:100%;border-right: 1px solid #fff;  }
.left_Menu ul li a { display: inline-block;width: 100%;height:100%;color: #333;font-size: 14px;text-indent: 1em;  }

.right_Menu{ width: 75%; float:left; height: 400px; overflow: hidden;box-sizing: border-box;background-color: #f8f8f8}
.right_Menu p{ padding:15px 0 15px 24px; font-size:12px;}
.right_Menu p a {color: #333;}
.right_Menu ul{ overflow:hidden; width:100%; background-color:#fff;}
.right_Menu ul li{ float:left; width:33%; text-align:center;}
.right_Menu ul li img{ width: 70px;height: 70px;}
.right_Menu ul li span{ display:block; padding:6px 0;font-size: 12px;color: #666;overflow: hidden;text-overflow:ellipsis;white-space: normal;}

/* 分类页面样式END 2017-8-28 */









