*{font-family:微软雅黑;font-size:14px;}
img{border:0px}
div,p,dl,dt,dd,h2,h3,form,ul,li,body{ margin:0; padding:0;}
body { font-family:"Microsoft YaHei"; font-size:14px; height:100%;}

fieldset, img {border: 0;vertical-align: middle;}
select, input, button, textarea {font: 100% "Microsoft YaHei";padding: 0;}
:focus {outline: 0 none;}
input,select {vertical-align: middle;  height:30px; background:#fdfdfd; border:1px solid #e4e4e4;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px; padding:0px 3px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box; }
textarea {vertical-align: middle; line-height:30px; background:#fdfdfd; border:1px solid #e4e4e4;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px; padding:0 6px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box; }

input:focus{ border:1px solid #2baab1;}
input[type=button],input[type=submit]{ background:#2baab1; color:#fff;border: 1px solid #26969c; cursor:pointer;padding:5px 10px; font-size: 12px;   }
input[type=button]:hover,input[type=submit]:hover{ background:#32c5cd;}
input[type=radio],input[type=checkbox]{ width:16px; height:16px;}

.but1{color:#FFF; background-color:#d9534f;border:1px solid #df4c43;padding:5px 10px; margin:0 1px;  font-size: 12px; line-height: 1.5; border-radius:3px;}
.but1:hover{background-color:#c9302c; }


ul, li{ list-style:none;}
.hide{ display:none}
.clear{ clear:both}
.clearFix:after{
 clear:both;
 display:block;
 visibility:hidden;
 height:0;
 line-height:0;
 content:'';
}

a{ text-decoration:none;}
h1,h2,h3{ font-weight:normal;}







.table{ width:100%; margin-top:10px; border-collapse: collapse; border:1px solid #dddddd;border-bottom:2px solid #dddddd;}
.table .l{ text-align:left; padding-left: 5px;}
.table .operate{ text-align:left; padding-left:20px;}
.table .gs{border-bottom:1px solid #666;}
.table .fl{ text-align: left; padding-left: 5px;}
.table .fr{ text-align: right; padding-right: 5px;}
.table th{line-height:36px;border-bottom:2px solid #dddddd; background:#f9f9f9;}
.table td{padding:6px 0; line-height:36px; font-size:14px; text-align:center; border-bottom: 1px solid #f1f1f1;}
.table tr:hover{ background:#f9f9f9}

.table_from{width:100%; border-collapse: collapse; }
.table_from td{padding:6px 0; text-align: left; line-height:36px; font-size:14px; border-bottom: 1px solid #f1f1f1;}
.table_from>tbody>tr>td:first-child{text-align: right; padding-right: 10px; width: 200px;}
.table_from tr:hover{ background:#f9f9f9}

.main_title{background-color:#f9f9f9;font-size:13px;padding:14px 20px; margin:10px 10px 0px 0px;}
.main_content{padding:14px 20px;background-color:#fff;margin:10px 10px 20px 0px;border:1px solid #e4e4e4;box-shadow:0 1px 1px rgba(0,0,0,.05);-moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);border-radius: 3px;  -moz-border-radius: 3px;  -webkit-border-radius: 3px; border-top:4px solid #e4e4e4;}
.main_content>table{margin:0px; border:0px;}
.main_content>form>table{margin:0px; border:0px;}

.search{ margin-top: 10px;}

.topbox{width:100%; background:#fff; height:54px; overflow: hidden; border-top:2px solid #2baab1;  box-shadow: 0 1px 1px rgba(0,0,0,.15);  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.15);  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.15); }
 .topbox h3{ float:left;font-weight:normal; font-size:18px; color:#2baab1; line-height:54px; padding:0 0 0 20px;}
 .topbox h3 i{ margin-right:6px; font-size:24px;}


.nav{ float:left; margin-left:50px;}
.nav li{float:left; margin-left:20px;  cursor:pointer;color:#018dba; font-size:14px; padding:0 21px; line-height:54px;  padding-top:2px;}
.nav li.checkit{ color:#FFF; background-color:#4cd1fc;}
.nav li:hover{background-color:#4cd1fc; color:#FFF;}

.topnav{ top:10px; position:absolute; right:30px;}
.topnav li{ float:left;}
.nihao{ color:#858484; margin-right:20px; margin-top:6px;}
.tuichu{ margin-top:6px;}
.tuichu a{ color:#c0876c; margin-right:15px;}
.shangcheng{ margin-top:3px;}
.shangcheng a{ color:#f9691a; font-size:14px; margin-right:20px;}
.shuaxin{  width:40px; background-color:#b19e95; text-align:center; line-height:26px; margin-right:20px;}
.shuaxin a{color:#FFF;}
.gengxin{  width:70px; background-color:#b19e95; text-align:center; line-height:26px; margin-right:15px;}
.gengxin a{color:#FFF;}
.houtai{  width:70px; background-color:#f9691a; text-align:center; line-height:26px;}
.houtai a{color:#FFF;}

/*left*/
.neirong{ overflow:hidden;}
.leftpanel{ background-color:#1c2b36; width:180px; float:left;}
/*right*/
.rightpanel{ float:right;}

.leftpanel h1{ font-size:16px; color:#f9691a; margin-left:36px; margin-top:30px; display: none}

/*二级菜单*/
.menu a{display: block; text-decoration: none; font-size:14px}
.menu li{line-height:42px;font-family: "微软雅黑";font-size: 14px;  border-bottom: 1px solid #17232c;}
.menu li a{ color: #7ca0bb; padding-left: 20px;}
.menu li a:hover{color: #fff; border-left: 5px #FFAA1C solid; padding-left: 25px;background-color: #17232c;}
li.menuSelectd a{ color: #fff; border-left: 5px #FFAA1C solid; padding-left: 25px;background-color: #17232c;}


/*添加商品-上传图片*/
.upload-photo-box{ width:100%; overflow:hidden; padding:5px 0; margin-bottom:10px; border:1px solid #d9d9d9;}
.upload-photo-box li{ width:100px; height:120px; overflow:hidden; float:left; margin:0.5%; position:relative;}
.upload-photo-box li img{ width:100px; overflow:hidden;}
.upload-photo-box li .delete{ width:100px;height:24px;line-height:24px; background-color:#5CA3FF; text-align:center; position:absolute;bottom:0; cursor:pointer;}
.upload-photo-box li .delete a{ width:50px; color:#FFF; font-size:12px; display:block; float:left;}
/*添加商品-上传按钮（新加）*/
.LeapFTP-upimg{height:125px;width:100px;position:relative; border:2px solid #cccccc; overflow:hidden; margin-left:0.5%; }
.LeapFTP_upload_f{text-align:center; font-size:14px; height:125px;width:100px; background-image:url(../images/zeng-jia.png); background-position:50%; background-repeat:no-repeat; display:block;}
.LeapFTP-upimg input{width: 100%; height: 100%;cursor: pointer;filter:alpha(opacity=0); -moz-opacity:0;	position:absolute;opacity:0;left:0px;top: 0px;}




.click-hide{ width:560px;height:26px; margin:10px 0; padding-left:6px; line-height:26px; border:1px solid #d9d9d9; margin-left:100px;}
.click-arise-box{ width:668px; overflow:hidden;margin:10px 0;}
.click-arise{ margin-left:100px; width:560px;min-height:42px; border:1px solid #d9d9d9; }
.btn02{ margin:10px 0; margin-left:100px; display:block;width:100px;height: 42px; line-height:42px;border-radius: 5px;color: #FFF; font-size:16px;background-color: #ff4032;border: 0;}





.multiple{width:130px; height: 150px;}

.form1{}
.form1 ul{margin:3px 0px 10px 0px}
.form1 li{ line-height:38px; clear:both}
.form1 li label{ width:110px; float:left; display:block;}
.form1 li input{line-height:28px; height:28px;}
.form1 li span{margin-left:10px;color:#666;}


/*商品规格操作*/
.up_btn{  background:url(../images/icon.png) no-repeat; background-position:-55px 0; width:17px; height:17px; display:block; cursor: pointer; float:left; margin:3px 5px; overflow:hidden;}
.down_btn{ background:url(../images/icon.png) no-repeat; background-position:-28px 0; width:17px; height:17px; display:block; cursor: pointer; float:left; margin:3px 5px;}
.delete_btn{  background:url(../images/icon.png) no-repeat; background-position:0 0; width:17px; height:17px; display:block; cursor: pointer; float:left;  margin:3px 5px;}



/*订单回复*/
.div_eval{ width:600px; margin-top:20px;}
.div_eval span{ margin-top:10px;}
.div_eval .div_evalcont{ margin-top:10px;}
.div_evalre{ width:600px; margin-top:20px;}
.div_evalre .kefu{ color:#F00;}
.div_evalre .line{ border:1px solid #d9d9d9; margin:10px 0;}


/*上传按钮*/
.upload-upimg{height:25px; line-height:25px;width:80px;position:relative; overflow:hidden; display: inline-block; }
.upload-upimg ._upload_f{height:25px;background-color:#fd493d; display:block;
	color: #FFF; font-size:12px; line-height:25px; text-align:center}
.upload-upimg:hover{}
.upload-upimg input{width: 100%; height: 100%;cursor: pointer;filter:alpha(opacity=0); -moz-opacity:0;	position:absolute;opacity:0;left:0px;top: 0px;}
/*---------------分页----*/

.page{padding-top:10px}
.p_bar {clear:both;padding:10px 0; text-align:center; font-size:14px; color: #0e0e0e; height: 30px; overflow: hidden;}
.p_info { border:1px solid #dddddd; padding:4px 10px;}
.p_bar a {text-decoration:none;padding:4px 10px; color: #0e0e0e;}
.p_bar a:hover {background:#dddddd;border:1px solid #dddddd; border-left: 0px;text-decoration:none;}
.p_num {background:#FFF;border:1px solid #dddddd; border-left: 0px;}
.p_redirect {background:#FFF;border:1px solid #dddddd; border-left: 0px; padding:4px 10px;}
.p_curpage {border:1px solid #337ab7; border-left: 0px;background:#337ab7;color:#fff; padding:4px 10px;}

/*footer*/
.footer{ line-height:50px; margin:0 auto; width:445px;}