i, cite, em { font-style: normal; }
.money{font-family: Verdana;font-weight: 600; color: #C00;}

.nav-tabs{border-bottom: 1px solid #ddd;padding-left: 30px; padding-top: 15px;}
.nav-tabs li{  float: left;  position: relative; margin-bottom: -1px; border-radius: 4px 4px 0 0; margin-right: 2px;line-height: 38px;color: #555;}
.nav-tabs li.active{ border: 1px solid #ddd; border-bottom: 0px; font-size: 14px;color:#ff665b}
.nav-tabs li.active a{color:#ff665b}
.nav-tabs li.active a:hover{background-color:#fff;}
.nav-tabs li span{ background-color: #fff; border-radius: 4px 4px 0 0; display: block;padding: 0px 15px; }
.nav-tabs li a{background-color: #fff; border-radius: 4px 4px 0 0; display: block;padding: 0px 15px; }
.nav-tabs li a:hover{background-color: #EFEFEF; color:#ff665b;}
.nav-tabs:after{clear:both;display:block;visibility:hidden;height:0;line-height:0;content:'';}

.usernav{ height:80px; clear:both; background:#fff;border-bottom: 3px solid #ca1b38;}
.userlogo{ width:1140px; margin:0 auto; clear:both; height:80px;}
.logoleft{ width:300px; height:80px; display:inline-block; float:left}
.logoleft a img{ padding-top:10px}


.footer{padding: 30px 0;    line-height: 30px;    text-align: center;    background-color: #eee;    color: #666;    font-weight: 300;}



/* 公用顶部区域
-------------------------------------- */
.top-wrapper { font-family: Arial, "宋体"; height: 30px; color: #777; background-color: #FAFAFA; border-bottom: solid 1px #F0F0F0;font-size: 12px;}
.top-wrapper .user-entry { width: 45%; float: left; color: #777; line-height: 30px;}
.top-wrapper .user-entry a { color: #777}
.top-wrapper .quick-menu { font-size: 0; *word-spacing:-1px/*IE6、7*/; text-align: right; width: 55%; height: 30px; float: right;}
.top-wrapper .quick-menu a { color: #777 !important;}
.top-wrapper .quick-menu dl { text-align: left; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display:inline/*IE6、7*/; width: 80px; height: 30px; position: relative; z-index: 999; *zoom:1/*IE6、7*/;}
.top-wrapper .quick-menu dl dt { font-size: 12px; line-height: 20px; height: 20px; padding: 5px 0; position: absolute; z-index: 2; top: 0px; left: 12px;}
.top-wrapper .quick-menu dl dt a:hover { text-decoration: none; color: #F30;}
.top-wrapper .quick-menu dl dt i { }
.top-wrapper .quick-menu dl.hover dt i { }
.top-wrapper .quick-menu dl dd { background-color: #FFF; display: none; width: 78px; border: solid 1px #F0F0F0; position: absolute; z-index: 1; top: 0; left: 0;}
.top-wrapper .quick-menu dl.hover dd { display: block;}
.top-wrapper .quick-menu dl dd ul { width: 78px; margin: 30px 0 0 0; }
.top-wrapper .quick-menu dl dd ul li a { font-size: 12px; line-height: 24px; display: block; clear: both; padding: 2px 0 2px 11px;}
.top-wrapper .quick-menu dl dd ul li a:hover { text-decoration: none; background-color: #F7F7F7;}

/* 站点logo */
.public-head-layout{padding-bottom: 5px;}
.public-head-layout .site-logo {  height: 80px; float: left; margin: 10px 50px auto 0;}
.public-head-layout .site-logo img { max-height: 80px;}
/* 头部搜索 */
.head-search-bar {position: relative;}
.head-search-bar { width: 440px; float: left; padding-top:28px; overflow: hidden;}
#search ul.tab { width: 200px; height: 23px; display:block; position: absolute; z-index: 99; top: 8px; left: 0px; overflow: hidden;}
#search ul.tab li { font-weight: bold; line-height: 20px; color: #555; white-space: nowrap; float: left; height: 20px; float: left; padding: 0 14px 3px 14px; margin-right: 8px; cursor: pointer;}
#search ul.tab li.current:hover {background: #D93600;}
#search ul.tab li.current { line-height: 22px; color: #FFF; background: #D93600; height: 20px; float: left; padding: 0 14px 3px 14px; margin: 0;}
.head-search-bar .search-form { background-color: #D93600; height: 36px; padding: 3px;}
.head-search-bar .input-text { line-height: 24px; color: #555; width: 82%; height: 24px; float: left; padding: 6px 1%; border: none 0;}
.head-search-bar .input-submit{ font-size: 14px; color: #FFF; font-weight: 600; background-color: transparent; width: 15%; height: 35px; float: right; border: none; cursor: pointer;}
.head-search-bar .keyword { line-height: 20px; color: #999; white-space: nowrap; width: 500px; height: 20px; margin-top: 4px; overflow: hidden;}
.head-search-bar .keyword ul { font-size: 0; *word-spacing:-1px/*IE6、7*/; vertical-align: top; display: inline-block; *display:inline/*IE6、7*/;}
.head-search-bar .keyword ul li { font-size: 12px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display:inline/*IE6、7*/; margin-right: 12px;}
.head-search-bar .keyword ul li a { color: #777;}

/*.public-head-layout .my_cart{margin: 30px 0px 0px 150px;}
.public-head-layout .my_cart:hover{border: 1px solid #ccc;}*/
.public-head-layout .userCenter {margin: 30px 0px 0px 150px;}
.public-head-layout .userCenter:hover{border: 1px solid #ccc;}


.header-wrapper{    background: #f50;    position: relative;    z-index: 10;    width: 100%;}
.header-wrapper  .nav-list{}
.header-wrapper  .nav-list li{float:left;line-height: 45px;}
.header-wrapper .nav-list li a{display:block;color:#fff;padding: 0 30px; font-family:"宋体"   ;  text-decoration: none;    font-size: 16px;    white-space: nowrap}
.header-wrapper .nav-list li.hover a,.header-wrapper .nav-list li.hover2 a{color:#fff; background-color: #f30;}

/*warpcon*/
.warpcon{ width:1140px; margin:0 auto; clear:both; overflow:hidden; min-height: 700px;}
/*左侧导航*/
/*.warpleft{ width:170px; overflow: hidden; height:auto; display:inline-block; float:left; background:#fff;  border-right: 1px solid #eee; padding-top: 15px;}
.warpleft h3{ border-left:5px solid #e45050; background:#f1f1f1; font-weight:normal;line-height: 40px;padding-left:10px;}
.warpleft ul{ margin-bottom:10px}
.warpleft ul li{ height:36px; line-height:36px; font-size:14px;}
.warpleft ul li a{ width:150px; height:36px; line-height:36px; display:block; border-left:4px solid #fff; padding-left:20px; font-size:14px; background:#fff}
.warpleft ul li a.whover{color: #c00}*/
.warpleft{ width:170px; overflow: hidden; height:auto; display:inline-block; float:left; background:#fff; padding-top: 15px;}
.warpleft h3{font-size:14px;font-weight:bold;color:#666;line-height: 20px;padding: 15px 0 20px;cursor: default;}
.warpleft h3 img { width: 20px;height:20px;display: inline-block;margin-right: 5px;}
.warpleft ul li a {display: block;color: #666;text-decoration: none;line-height: 34px;margin-left: 25px; }
.warpleft ul li a:hover { color: #c00;}
.warpleft ul li a.whover{color: #c00}

/*右侧内容*/
.warpright{ float:left; width: 940px; padding-left: 20px; display:block}

.box{ background-color: #fff; margin-bottom: 10px; padding-bottom: 20px;}
.box > h3 {    font-size: 15px;    color: #c00;    padding-left: 20px;    line-height: 50px;}

.search{padding: 20px;}
/*注意*/
.prompt{ overflow:hidden; font-size:12px; margin:30px; color:#ff675c;}
.prompt li{ height:30px; line-height:30px; color:#900; font-size:12px;}

.jiben{ width:935px; height:180px; background:url(images/userlbg.jpg) no-repeat 320px 0px #fff; margin-bottom:20px}
.jbtx{ width:280px; padding:40px 20px; height:100px; float:left; display:inline-block}
.jbtx .touxiang{ width:100px; height:100px; float:left; display:inline-block}
.jbtx .touxiang img{ width:98px; height:98px; border:2px solid #eee;border-radius:50%;}
.toutext{ width:170px; height:100px; padding-left:10px; float:left; display:inline-block}
.toutext h2{ font-weight:normal; color:#000; font-size:20px; width:170px; height:40px; line-height:40px; padding-top:15px}
.toutext p{ width:170px; height:30px; line-height:30px; font-size:12px; color:#666}
.toutext p img{ float:left; padding-top:8px;}
.zhjin{ height:100px; background:#f5f5f5; float:left; display:inline-block; margin:20px; font-size:14px; color:#555; padding:20px}
.zhjin p{ height:30px; line-height:30px}
.zhjin p span{ color:#C00; font-weight:bold}
.zhjin p a.chongzhi{ background:#096; width:80px; font-size:12px; color:#fff; text-align:center; height:24px; line-height:24px; display:inline-block; float:left; margin-right:20px}
.zhjinle{ height:100px; float:left; display:inline-block; margin-right: 20px;}
.zhjinri{height:80px; float:left; display:inline-block; padding:10px}
.zhjin p a.tixian{ background:#c00; width:80px; font-size:12px; color:#fff; text-align:center; height:24px; line-height:24px; display:inline-block; float:left; margin-right:20px}



/*订单列表*/
.orderbox{border: 1px solid #dddddd; margin-bottom: 10px;}
.orderbox:hover{border: 1px solid #999;}
.orderbox dt{ line-height: 40px; background-color: #efefef; padding-left: 8px;}
.orderbox dt .status{float: right; margin-right: 10px;}
.orderbox dt .time{margin-right: 5px; font-weight:600;}
.orderbox dt .shop{ margin-left: 200px;}
.orderbox dt .shop i{color: #f00;}
.orderbox dd td{padding: 10px;border-collapse: collapse; line-height: 22px;vertical-align:middle}
.orderbox .goodsImg{ margin-right: 10px;width: 100px; float: left}
.orderbox .goodsDetail{float: left;}
.orderbox .goodsDetail .name{float: left; width: 300px;}
.orderbox .goodsDetail .quantity{float: left; margin-left: 20px;}
.orderbox .goodsDetail .quantity span{font-size: 10px; color: #999;}
.orderbox .shipping{padding-left: 10px; line-height: 40px;}
.orderbox .operate{ width: 100px; text-align: center}
.orderbox .operate a{ width: 90px; margin-bottom: 10px;}

.goods_list th{ text-align: center}
.goods_list .goods_id,.goods_list .goods_price,.goods_list .goods_num{text-align: center; vertical-align: middle}
.goods_list .goods_info img{float: left; margin-right: 10px; width: 50px;}



