i, cite, em { font-style: normal; }
.money{font-family: Verdana;font-weight: 600; color: #C00;}

.nav-tabs{border-bottom: 1px solid #ddd;padding-left: 30px; padding-top: 15px;}
.nav-tabs li{  float: left;  position: relative; margin-bottom: -1px; border-radius: 4px 4px 0 0; margin-right: 2px;line-height: 38px;color: #555;}
.nav-tabs li.active{ border: 1px solid #ddd; border-bottom: 0px; font-size: 14px;color:#ff665b}
.nav-tabs li.active a{color:#ff665b}
.nav-tabs li.active a:hover{background-color:#fff;}
.nav-tabs li span{ background-color: #fff; border-radius: 4px 4px 0 0; display: block;padding: 0px 15px; }
.nav-tabs li a{background-color: #fff; border-radius: 4px 4px 0 0; display: block;padding: 0px 15px; }
.nav-tabs li a:hover{background-color: #EFEFEF; color:#ff665b;}
.nav-tabs:after{clear:both;display:block;visibility:hidden;height:0;line-height:0;content:'';}

.search{padding: 20px;}
/*注意*/
.prompt{ overflow:hidden; font-size:12px; margin:30px; color:#ff675c;}
.prompt li{ height:30px; line-height:30px; color:#900; font-size:12px;}

.jiben{ width:935px; height:180px; background:url(images/userlbg.jpg) no-repeat 320px 0px #fff; margin-bottom:20px}
.jbtx{ width:280px; padding:40px 20px; height:100px; float:left; display:inline-block}
.jbtx .touxiang{ width:100px; height:100px; float:left; display:inline-block}
.jbtx .touxiang img{ width:98px; height:98px; border:2px solid #eee;border-radius:50%;}
.toutext{ width:170px; height:100px; padding-left:10px; float:left; display:inline-block}
.toutext h2{ font-weight:normal; color:#000; font-size:20px; width:170px; height:40px; line-height:40px; padding-top:15px}
.toutext p{ width:170px; height:30px; line-height:30px; font-size:12px; color:#666}
.toutext p img{ float:left; padding-top:8px;}
.zhjin{ height:100px; background:#f5f5f5; float:left; display:inline-block; margin:20px; font-size:14px; color:#555; padding:20px}
.zhjin p{ height:30px; line-height:30px}
.zhjin p span{ color:#C00; font-weight:bold}
.zhjin p a.chongzhi{ background:#096; width:80px; font-size:12px; color:#fff; text-align:center; height:24px; line-height:24px; display:inline-block; float:left; margin-right:20px}
.zhjinle{ height:100px; float:left; display:inline-block; margin-right: 20px;}
.zhjinri{height:80px; float:left; display:inline-block; padding:10px}
.zhjin p a.tixian{ background:#c00; width:80px; font-size:12px; color:#fff; text-align:center; height:24px; line-height:24px; display:inline-block; float:left; margin-right:20px}



/*订单列表*/
.orderbox{border: 1px solid #dddddd; margin-bottom: 10px;}
.orderbox:hover{border: 1px solid #999;}
.orderbox dt{ line-height: 40px; background-color: #efefef; padding-left: 8px;}
.orderbox dt .status{float: right; margin-right: 10px;}
.orderbox dt .time{margin-right: 5px; font-weight:600;}
.orderbox dt .shop{ margin-left: 200px;}
.orderbox dt .shop i{color: #f00;}
.orderbox dd td{padding: 10px;border-collapse: collapse; line-height: 22px;vertical-align:middle}
.orderbox .goodsImg{ margin-right: 10px;width: 100px; float: left}
.orderbox .goodsDetail{float: left;}
.orderbox .goodsDetail .name{float: left; width: 300px;}
.orderbox .goodsDetail .quantity{float: left; margin-left: 20px;}
.orderbox .goodsDetail .quantity span{font-size: 10px; color: #999;}
.orderbox .shipping{padding-left: 10px; line-height: 40px;}
.orderbox .operate{ width: 100px; text-align: center}
.orderbox .operate a{ width: 90px; margin-bottom: 10px;}

.goods_list th{ text-align: center}
.goods_list .goods_id,.goods_list .goods_price,.goods_list .goods_num{text-align: center; vertical-align: middle}
.goods_list .goods_info img{float: left; margin-right: 10px; width: 50px;}

/*个人中心*/
.clearfix::after {
    content: '';
    overflow: hidden;
    height:0;
    display: block;
    clear: both;
}
.marginLine { height:5px;background-color: #efefef;margin:0 -10px;  }
.user {
    padding: 40px 30px;
}
.userImg {
    float: left;
    margin-right: 20px;
}
.userImg img {
    width: 100px;
    height: 100px;
}
.userName {
    float: left;
    margin-top: 15px;
}
.userName .name {
    font-size: 14px;
    color: #666;
}
.userName p {
    font-size: 16px;
    line-height: 20px;
}
.userName span {
    color: #737373;
    font-size: 12px;
    margin-top: 15px;
    display: block;
}
.userEmail {
    float: left;
    margin-top: 15px;
    margin-left: 100px;
    font-size: 14px;
    color: #999;
}
.userEmail span {
    color: #666;
}
/*买家*/
.buyer { margin:0 40px; }
.buyer .buyer_box { float: left; width: 410px; margin: 20px 20px 0 0; }
.buyer .buyer_box .buyer_icon { margin-right: 20px; float: left; width:80px; height: 80px; }
.buyer .buyer_box  .buyer_text { margin-top: 15px; }
.buyer .buyer_box  .buyer_text p {font-size: 18px;color: #666;font-family: Microsoft YaHei;}
.buyer .buyer_box .buyer_text a {font-size: 14px;color: #999;cursor: pointer;}
.buyer  .buyer_box .buyer_text a:hover { color: #f56313; }
.buyer .buyer_box .num { color: #f56313; }
.tips {font-size: 14px;color: #999;}
.tips i {color: #f60;padding: 0 5px;display: inline-block}
.tips p a {color: #f60;padding: 0 5px;}
/*卖家*/
.seller { margin: 0 40px;}
.seller .seller_til{ height: 1px;width: 100%;background-color: #ddd;margin: 30px 0;}
.seller .seller_box{ margin: 20px 20px 20px 0;}
.seller .seller_box .seller_icon { margin-right: 20px;float: left;width:80px;height: 80px;}
.seller .seller_box .seller_text { margin-left: 100px;}
.seller .seller_box .seller_text .btn{background-color: #f56313;border: none;color: #fff;font-size: 14px;padding:2px 10px;margin-bottom: 10px;margin-right: 10px;}
/*供应商*/
.supplier {margin: 0 40px;}
.supplier .supplier_til{ height: 1px;width: 100%;background-color: #ddd;margin: 30px 0;}
.supplier .supplier_box { margin: 20px 20px 20px 0;}
.supplier .supplier_box .supplier_icon{ margin-right: 20px;float: left;width:80px;height: 80px;}
.supplier .supplier_box .supplier_text{margin-left: 100px;font-size: 18px;color: #666;}
.supplier .supplier_box .supplier_text .num { color: #f56313;}



