i, cite, em { font-style: normal; }
.money{font-family: Verdana;font-weight: 600; color: #C00;}

.nav-tabs{border-bottom: 1px solid #ddd;padding-left: 30px; padding-top: 15px;}
.nav-tabs li{  float: left;  position: relative; margin-bottom: -1px; border-radius: 4px 4px 0 0; margin-right: 2px;line-height: 38px;color: #555;}
.nav-tabs li.active{ border: 1px solid #ddd; border-bottom: 0px; font-size: 14px;color:#ff665b}
.nav-tabs li.active a{color:#ff665b}
.nav-tabs li.active a:hover{background-color:#fff;}
.nav-tabs li span{ background-color: #fff; border-radius: 4px 4px 0 0; display: block;padding: 0px 15px; }
.nav-tabs li a{background-color: #fff; border-radius: 4px 4px 0 0; display: block;padding: 0px 15px; }
.nav-tabs li a:hover{background-color: #EFEFEF; color:#ff665b;}
.nav-tabs:after{clear:both;display:block;visibility:hidden;height:0;line-height:0;content:'';}

.usernav{ height:80px; clear:both; background:#fff;border-bottom: 3px solid #ca1b38;}
.userlogo{ width:1140px; margin:0 auto; clear:both; height:80px;}
.logoleft{ width:300px; height:80px; display:inline-block; float:left}
.logoleft a img{ padding-top:10px}


.footer{padding: 30px 0;    line-height: 30px;    text-align: center;    background-color: #eee;    color: #666;    font-weight: 300;}

/*warpcon*/
.warpcon{ width:1140px; margin:0 auto; clear:both; overflow:hidden; min-height: 700px;}
/*左侧导航*/
.warpleft{ width:170px; overflow: hidden; height:auto; display:inline-block; float:left; background:#fff;  border-right: 1px solid #eee; padding-top: 15px;}
.warpleft h3{ border-left:5px solid #e45050; background:#f1f1f1; font-weight:normal;line-height: 40px;padding-left:10px;}
.warpleft ul{ margin-bottom:10px}
.warpleft ul li{ height:36px; line-height:36px; font-size:14px;}
.warpleft ul li a{ width:150px; height:36px; line-height:36px; display:block; border-left:4px solid #fff; padding-left:20px; font-size:14px; background:#fff}
.warpleft ul li a.whover{color: #c00}

/*右侧内容*/
.warpright{ float:left; width: 940px; padding-left: 20px; display:block}

.box{ background-color: #fff; margin-bottom: 10px; padding-bottom: 20px;}
.box > h3 {    font-size: 15px;    color: #c00;    padding-left: 20px;    line-height: 50px;}

.search{padding: 20px;}
/*注意*/
.prompt{ overflow:hidden; font-size:12px; margin:30px; color:#ff675c;}
.prompt li{ height:30px; line-height:30px; color:#900; font-size:12px;}

.jiben{ width:935px; height:180px; background:url(images/userlbg.jpg) no-repeat 320px 0px #fff; margin-bottom:20px}
.jbtx{ width:280px; padding:40px 20px; height:100px; float:left; display:inline-block}
.jbtx .touxiang{ width:100px; height:100px; float:left; display:inline-block}
.jbtx .touxiang img{ width:98px; height:98px; border:2px solid #eee;border-radius:50%;}
.toutext{ width:170px; height:100px; padding-left:10px; float:left; display:inline-block}
.toutext h2{ font-weight:normal; color:#000; font-size:20px; width:170px; height:40px; line-height:40px; padding-top:15px}
.toutext p{ width:170px; height:30px; line-height:30px; font-size:12px; color:#666}
.toutext p img{ float:left; padding-top:8px;}
.zhjin{ height:100px; background:#f5f5f5; float:left; display:inline-block; margin:20px; font-size:14px; color:#555; padding:20px}
.zhjin p{ height:30px; line-height:30px}
.zhjin p span{ color:#C00; font-weight:bold}
.zhjin p a.chongzhi{ background:#096; width:80px; font-size:12px; color:#fff; text-align:center; height:24px; line-height:24px; display:inline-block; float:left; margin-right:20px}
.zhjinle{ height:100px; float:left; display:inline-block; margin-right: 20px;}
.zhjinri{height:80px; float:left; display:inline-block; padding:10px}
.zhjin p a.tixian{ background:#c00; width:80px; font-size:12px; color:#fff; text-align:center; height:24px; line-height:24px; display:inline-block; float:left; margin-right:20px}



/*订单列表*/
.orderbox{border: 1px solid #dddddd; margin-bottom: 10px;}
.orderbox:hover{border: 1px solid #999;}
.orderbox dt{ line-height: 40px; background-color: #efefef; padding-left: 8px;}
.orderbox dt .status{float: right; margin-right: 10px;}
.orderbox dt .time{margin-right: 5px; font-weight:600;}
.orderbox dt .shop{ margin-left: 200px;}
.orderbox dt .shop i{color: #f00;}
.orderbox dd td{padding: 10px;border-collapse: collapse; line-height: 22px;vertical-align:middle}
.orderbox .goodsImg{ margin-right: 10px;width: 100px; float: left}
.orderbox .goodsDetail{float: left;}
.orderbox .goodsDetail .name{float: left; width: 300px;}
.orderbox .goodsDetail .quantity{float: left; margin-left: 20px;}
.orderbox .goodsDetail .quantity span{font-size: 10px; color: #999;}
.orderbox .shipping{padding-left: 10px; line-height: 40px;}
.orderbox .operate{ width: 100px; text-align: center}
.orderbox .operate a{ width: 90px; margin-bottom: 10px;}
/* 订单详情*/
.order_detail .status{color: #fe4e02; font-weight: 700; font-size: 14px;font-family: 宋体;}
.order_detail .order_detail_tit{font-size: 15px;   font-weight: 600; font-family: 宋体;  color: #000;padding: 10px 0px 0px 5px; }
.order_detail .goods_list th{ text-align: center}
.order_detail .goods_list .goods_id,.order_detail .goods_list .goods_price,.order_detail .goods_list .goods_num{text-align: center; vertical-align: middle}
.order_detail .goods_list .goods_info img{float: left; margin-right: 10px; width: 50px;}
.order-progress{height:65px;margin-bottom:15px}
.progress-list{width:710px;height:20px;padding:0;list-style-type:none;border-radius:20px;font-size:12px;line-height:20px;text-align:center;color:#424242;background-color:#eee}
.progress-list .step{float:left;width:176px;height:20px}
.progress-list .step-first{border-top-left-radius:20px;border-bottom-left-radius:20px}
.progress-list .step-last{border-top-right-radius:20px;border-bottom-right-radius:20px}
.progress-list .step-done{background-color:#009688;color:#fff}
.progress-list .step-active{border-top-right-radius:20px;border-bottom-right-radius:20px;background-color:#009688;color:#fff}
.progress-list .step .info{margin-top:15px;color:#757575}
.progress-list-col-4 .step{width:220px}



