a {
    color: #666666;
    text-decoration: none;
}

.m_regtilinde{ line-height:45px; font-size:18px; width: 95%; margin:0 auto; color:#f60;  border-bottom:1px solid #d5d5d5; position:relative;}
.m_regtilinde span{ float: right; font-size: 14px; color: #888; display: block}
.m_regtilinde span a{ display: inline-block}

.car_mes{}
.car_mes .swiper-slide{text-align:center;}
.car_mes .swiper-pagination{bottom:10px;}
.car_mes .swiper-pagination-bullet{width:30px; height:5px;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0; background:#000;filter:alpha(opacity=40);opacity:0.4; }
.car_mes .swiper-pagination-bullet-active{background:#e7001b;filter:alpha(opacity=90);opacity:0.9; }



.br_box{ padding: 10px 0; overflow: hidden;}
.br_box ul{width: 100%;}
.br_box li{ float: left; width: 33.33%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border-right: 1px dashed #ccc; border-top: 1px dashed #ccc;position: relative; text-align: center}
.br_box li:nth-child(3n){ border-right: none;}
.br_box li:nth-child(1),.br_box li:nth-child(2),.br_box li:nth-child(3){ border-top: 0;}
.br_box li a{ display: block; text-align: center; width: 100%;}
.br_box li a>div{text-align: center;    vertical-align: middle; display: block;  height: 80px;}
.br_box li img{ width: 80px;}
.br_box li span{ font-size: 18px; line-height: 30px; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;color: #333; display: block; text-align: center}

.commoditylist_content{width:95%;margin:5px auto;height:auto;border-top:1px solid #f3f3f3}
.commoditylist_content a{border:none;text-decoration:none; display: block}
.commoditylist_content li{height:auto;position:relative;padding:10px 0px;border-bottom:1px solid #f3f3f3}
.commoditylist_content li .imgspan{display:inline-block;position:relative}
.commoditylist_content li img{width:100px;height:100px}
.commoditylist_content li .info{position:absolute;left:110px;top:.5rem;bottom:.5rem;}
.commoditylist_content li .info .cd_title{color:#000;font-weight:400;font-size:16px;width:auto;overflow:hidden;text-overflow:ellipsis;word-wrap:normal;word-wrap:break-word;word-break:break-all;max-height:50px}
.commoditylist_content li i{color:#ccc;font-size:20px;position:absolute;top:2rem;bottom:.5rem;right:0px;padding-left:.8rem}
.commoditylist_content .cd_ensure{font-size:12px;color:#666;margin-top:3px;display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.commoditylist_content .cd_money{font-size:18px;color:red}
.commoditylist_content .cd_money span{font-size:12px;color:red}
.commoditylist_content .cd_money label{background:#ffc956;color:#fff;border-radius:3px;font-size:10px;margin-left:7px;padding:0 2px}
.commoditylist_content .cd_sales{font-size:12px;color:#666;position:absolute;bottom:.5rem}


/* detail*/
.car-wrapper {    border-bottom: 1px solid #f2f2f2;    padding: 0.4rem; background: #fff;}
.car-wrapper .car-photo{float: left; width: 120px;}
.car-wrapper .car-photo img{width: 100px;}
.car-wrapper .car-info{float: left}
.car-wrapper .car-info .car-name{font-weight: 600;}
.car-wrapper .car-info .car-price{color: #666; font-size: 12px; margin-top: 10px;}




.lease {
    padding-top: 0.4rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-bottom: 0.13333333rem;
    background: #FFFFFF;
}

.lease .product label.active {
    border-color: #dbb76c;
    color: #dbb76c;
}
.lease .product label {
    position: relative;
    display: block;
    margin-bottom: 0.4rem;
    text-align: center;
    padding-top: 0.26666667rem;
    padding-bottom: 0.26666667rem;
    color: #999999;
    border: 1px solid #d2d2d2;
    -webkit-border-radius: 0.08rem;
    -moz-border-radius: 0.08rem;
    -o-border-radius: 0.08rem;
    -ms-border-radius: 0.08rem;
    border-radius: 0.08rem;
    padding-right: 1.06666667rem;
    line-height: 35px;
}
.lease .product label.active:after {
    content: '';
    position: absolute;
    right: 0.53333333rem;
    top: 0rem;
    width: 20px;
    height: 100%;
    background: url(images/checked.png) no-repeat center center;
    background-size: 100% auto;
}
.lease .product label span:nth-last-child(1) {
    margin-right: 0rem;
}
.lease .product label span {
    margin-right: 0.4rem;
}

.product_detail .detail_nav {
    line-height: 45px;
    font-size: 18px;
    color: #f60;
    padding-left: 8px;
    border-bottom: 1px solid #efefef;
    position: relative;
}
.product_detail .detail_content{padding: 20px 2px;}
.product_detail .detail_content p{line-height:1.5%;}
.product_detail .detail_content img{max-width: 100%;}
