a {
    color: #666666;
    text-decoration: none;
}

.m_regtilinde{ line-height:24px; font-size:14px;width: 95%; margin:0 auto;margin-top: 10px; color:#f60;  border-bottom:1px solid #d5d5d5; position:relative;}
.m_regtilinde span{ float: right; font-size: 12px; color: #888; display: block}
.m_regtilinde span a{ display: inline-block}

.car_mes{}
.car_mes .swiper-slide{text-align:center;}
.car_mes .swiper-pagination{bottom:10px;}
.car_mes .swiper-pagination-bullet{width:30px; height:5px;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0; background:#000;filter:alpha(opacity=40);opacity:0.4; }
.car_mes .swiper-pagination-bullet-active{background:#e7001b;filter:alpha(opacity=90);opacity:0.9; }



/*.br_box{ padding: 10px 0; overflow: hidden;}
.br_box ul{width: 100%;}
.br_box li{ float: left; width: 33.33%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border-right: 1px dashed #ccc; border-top: 1px dashed #ccc;position: relative; text-align: center}
.br_box li:nth-child(3n){ border-right: none;}
.br_box li:nth-child(1),.br_box li:nth-child(2),.br_box li:nth-child(3){ border-top: 0;}
.br_box li a{ display: block; text-align: center; width: 100%;}
.br_box li a>div{text-align: center;    vertical-align: middle; display: block;  height: 80px;}
.br_box li img{ width: 80px;}
.br_box li span{ font-size: 14px; line-height: 30px; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;color: #333; display: block; text-align: center}*/
.br_box { margin-top: 10px;}
.br_box ul li{display: block;width: 20%;float: left;margin-bottom: 12px;text-align: center;}
.br_box ul li a{display: block;}
.br_box ul li a img{width: 27px;height: 27px;}
.br_box ul li a span{color: #333;font-size: 12px;line-height:12px;display: block;}


.commoditylist_content{width:95%;margin:5px auto;height:auto;border-top:1px solid #f3f3f3}
.commoditylist_content a{border:none;text-decoration:none; display: block}
.commoditylist_content li{height:auto;position:relative;padding:5px 0px;border-bottom:1px solid #f3f3f3}
.commoditylist_content li .imgspan{display:inline-block;}
.commoditylist_content li img{width:135px;height:100px;background-color: #fff;display: block;}
.commoditylist_content li .info{position:absolute;left:145px;top:.5rem;bottom:.5rem;}
.commoditylist_content li .info .cd_title{color:#000;font-weight:400;font-size:14px;width:auto;overflow:hidden;text-overflow:ellipsis;word-wrap:normal;word-wrap:break-word;word-break:break-all;max-height:50px}
.commoditylist_content li i{color:#ccc;font-size:20px;position:absolute;top:2rem;bottom:.5rem;right:0px;padding-left:.8rem}
.commoditylist_content .cd_ensure{font-size:12px;color:#666;margin-top:3px;display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.commoditylist_content .cd_money var{font-size:12px;color:red;font-style: normal;}
.commoditylist_content .cd_money label{background:#ffc956;color:#fff;border-radius:3px;font-size:10px;margin-left:7px;padding:0 2px}
.commoditylist_content .cd_sales{font-size:12px;color:#666;position:absolute;bottom:10px}


/* detail*/
.car-wrapper {    border-bottom: 1px solid #f2f2f2;    padding: 0.4rem; background: #fff;}
.car-wrapper .car-photo{float: left; width: 120px;}
.car-wrapper .car-photo img{width: 100px;}
.car-wrapper .car-info{float: left}
.car-wrapper .car-info .car-name{font-weight: 600;}
.car-wrapper .car-info .car-price{color: #666; font-size: 12px; margin-top: 10px;}




.lease {
    background: #FFFFFF; padding: 5px;
}

.lease .product label.active {
    border-color: #dbb76c;
    color: #dbb76c;
}
.lease .product label {
    position: relative;
    display: block;
    margin-bottom:10px;
    text-align: center;
    color: #999999;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    line-height: 35px;
    font-size: 14px;
}
.lease .product label.active:after {
    content: '';
    position: absolute;
    right:5px;
    top: 0px;
    width: 20px;
    height: 100%;
    background: url(images/checked.png) no-repeat center center;
    background-size: 100% auto;
}
.lease .product label span:nth-last-child(1) {
    margin-right: 0rem;
}
.lease .product label span {
    margin-right: 0.4rem;
}

.product_detail .detail_nav {
    line-height: 45px;
    font-size: 18px;
    color: #f60;
    padding-left: 8px;
    border-bottom: 1px solid #efefef;
    position: relative;
}
.product_detail .detail_content{padding: 20px 2px;}
.product_detail .detail_content p{line-height:150%;}
.product_detail .detail_content img{max-width: 100%;}

.bottom_opts{position: fixed;  border-top: 1px solid #ddd; bottom: -1px; height: 50px;    width: 100%;   background-color: #F7F7FA;    left:0;}
.bottom_opts a{padding-top: 0px;    text-align: center;    color: #999999;    font-size: 12px;}
.bottom_opts .opt_buy{float: right; width: 40%;background-color: #f44;color: #fff; display: block;line-height: 50px; font-size: 16px;}

.goods_add_uploaderLi{position: relative; border: 1px solid #d9d9d9}
.goods_add_uploaderLi i{position: absolute; top:-8px; right: -8px; border: 1px solid #ff2222; color: #f00; background-color: #fff;border-radius: 50%; font-size: 6px; width: 18px; height: 18px; line-height: 20px; text-align: center;z-index: 99}


.carRentList{width:95%;margin:5px auto;}

.carRentList li{position: relative;
    margin-top: 10px;
    padding: 0 10px 10px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #fff;}
.carRentList li .imgspan{display:inline-block;position:relative}
.carRentList li img{width:100px;height:100px}
.carRentList li .info{position:absolute;left:110px;top:.5rem;bottom:.5rem;}
.carRentList li .info .cd_title{color:#000;font-weight:400;font-size:16px;width:auto;overflow:hidden;text-overflow:ellipsis;word-wrap:normal;word-wrap:break-word;word-break:break-all;max-height:50px}
.carRentList li i{color:#ccc;font-size:20px;position:absolute;top:2rem;bottom:.5rem;right:0px;padding-left:.8rem}
.carRentList .cd_ensure{font-size:12px;color:#666;margin-top:3px;display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.carRentList li p{font-size:14px;}
.carRentList .contacts{font-size:12px;color:#666; line-height: 30px}
.carRentList li .foot{    border-top: 1px solid #eee;    padding-top: 5px;    text-align: right;}
