
.goods-price { font-family: Verdana; }
.goods-price em { font-weight: 600; color: #C00; }


.nav-tabs{border-bottom: 1px solid #ddd;padding-left: 30px; padding-top: 15px;}
.nav-tabs li{  float: left;  position: relative; margin-bottom: -1px; border-radius: 4px 4px 0 0; margin-right: 2px;line-height: 38px;color: #555;}
.nav-tabs li.active{ border: 1px solid #ddd; border-bottom: 0px; font-size: 14px;color:#ff665b}
.nav-tabs li.active a{color:#ff665b}
.nav-tabs li.active a:hover{background-color:#fff;}
.nav-tabs li span{ background-color: #fff; border-radius: 4px 4px 0 0; display: block;padding: 0px 15px; }
.nav-tabs li a{background-color: #fff; border-radius: 4px 4px 0 0; display: block;padding: 0px 15px; }
.nav-tabs li a:hover{background-color: #EFEFEF; color:#ff665b;}
.nav-tabs:after{clear:both;display:block;visibility:hidden;height:0;line-height:0;content:'';}


.search{padding: 20px;}
/*注意*/
.prompt{ overflow:hidden; font-size:12px; margin:30px; color:#ff675c;}
.prompt li{ height:30px; line-height:30px; color:#900; font-size:12px;}


.multiple{width: 210px; margin-right: 10px; min-height: 300px;}
#uploaderFiles{ /*margin-bottom: 10px; min-height: 100px; background-color: #efefef*/}
#uploaderFiles li{border: 1px solid #ccc; position: relative; padding: 5px; float: left; margin-right: 10px;}
#uploaderFiles li img{height: 100px;}
#uploaderFiles li i{position: absolute; top:-8px; right: -8px; border: 1px solid #ff2222; color: #f00; background-color: #fff;border-radius: 50%; font-size: 6px; width: 18px; height: 18px; line-height: 20px; text-align: center;z-index: 99;cursor: pointer}


/*订单列表*/
.orderbox{border: 1px solid #dddddd; margin-bottom: 10px;}
.orderbox:hover{border: 1px solid #999;}
.orderbox dt{ line-height: 40px; background-color: #efefef; padding-left: 8px;}
.orderbox dt .status{float: right; margin-right: 10px;}
.orderbox dt .time{margin-right: 5px; font-weight:600;}
.orderbox dt .buyer{ margin-left: 200px;}
.orderbox dd td{line-height: 22px;vertical-align:middle}
.orderbox .goodsImg{ margin-right: 10px;width: 100px; float: left}
.orderbox .goodsDetail{float: left;}
.orderbox .goodsDetail .name{float: left; width: 300px;}
.orderbox .goodsDetail .quantity{float: left; margin-left: 20px;}
.orderbox .goodsDetail .quantity span{font-size: 10px; color: #999;}
.orderbox .shipping{padding-left: 10px; line-height: 40px;}
.orderbox .operate{ width: 100px; text-align: center}
.orderbox .operate a{ width: 90px; margin-bottom: 10px;}

/* 订单详情*/
.order_detail .status{color: #fe4e02; font-weight: 700; font-size: 14px;font-family: 宋体;}
.order_detail .order_detail_tit{font-size: 15px;   font-weight: 600; font-family: 宋体;  color: #000;padding: 10px 0px 0px 5px; }
.order_detail .goods_list th{ text-align: center}
.order_detail .goods_list .goods_id,.order_detail .goods_list .goods_price,.order_detail .goods_list .goods_num{text-align: center; vertical-align: middle}
.order_detail .goods_list .goods_info img{float: left; margin-right: 10px; width: 50px;}