i, cite, em { font-style: normal; }
.goods-price { font-family: Verdana; }
.goods-price em { font-weight: 600; color: #C00; }

.layui-tab-brief>.layui-tab-title .layui-this {    color: #f44;}
.layui-tab-brief>.layui-tab-more li.layui-this:after, .layui-tab-brief>.layui-tab-title .layui-this:after { border: none;border-radius: 0;border-bottom: 3px solid #f44;}

/* 公用顶部区域
-------------------------------------- */
.top-wrapper { font-family: Arial, "宋体"; height: 30px; color: #777; background-color: #FAFAFA; border-bottom: solid 1px #F0F0F0;font-size: 12px;}
.top-wrapper .user-entry { width: 45%; float: left; color: #777; line-height: 30px;}
.top-wrapper .user-entry a { color: #777}
.top-wrapper .quick-menu { font-size: 0; *word-spacing:-1px/*IE6、7*/; text-align: right; width: 55%; height: 30px; float: right;}
.top-wrapper .quick-menu a { color: #777 !important;}
.top-wrapper .quick-menu dl { text-align: left; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display:inline/*IE6、7*/; width: 80px; height: 30px; position: relative; z-index: 999; *zoom:1/*IE6、7*/;}
.top-wrapper .quick-menu dl dt { font-size: 12px; line-height: 20px; height: 20px; padding: 5px 0; position: absolute; z-index: 2; top: 0px; left: 12px;}
.top-wrapper .quick-menu dl dt a:hover { text-decoration: none; color: #F30;}
.top-wrapper .quick-menu dl dt i { }
.top-wrapper .quick-menu dl.hover dt i { }
.top-wrapper .quick-menu dl dd { background-color: #FFF; display: none; width: 78px; border: solid 1px #F0F0F0; position: absolute; z-index: 1; top: 0; left: 0;}
.top-wrapper .quick-menu dl.hover dd { display: block;}
.top-wrapper .quick-menu dl dd ul { width: 78px; margin: 30px 0 0 0; }
.top-wrapper .quick-menu dl dd ul li a { font-size: 12px; line-height: 24px; display: block; clear: both; padding: 2px 0 2px 11px;}
.top-wrapper .quick-menu dl dd ul li a:hover { text-decoration: none; background-color: #F7F7F7;}

/* 站点logo */
.public-head-layout{padding-bottom: 5px;}
.public-head-layout .site-logo {  height: 80px; float: left; margin: 10px 50px auto 0;}
.public-head-layout .site-logo img { max-height: 80px;}
/* 头部搜索 */
.head-search-bar {position: relative;}
.head-search-bar { width: 440px; float: left; padding-top:28px; overflow: hidden;}
#search ul.tab { width: 200px; height: 23px; display:block; position: absolute; z-index: 99; top: 8px; left: 0px; overflow: hidden;}
#search ul.tab li { font-weight: bold; line-height: 20px; color: #555; white-space: nowrap; float: left; height: 20px; float: left; padding: 0 14px 3px 14px; margin-right: 8px; cursor: pointer;}
#search ul.tab li.current:hover {background: #D93600;}
#search ul.tab li.current { line-height: 22px; color: #FFF; background: #D93600; height: 20px; float: left; padding: 0 14px 3px 14px; margin: 0;}
.head-search-bar .search-form { background-color: #D93600; height: 36px; padding: 3px;}
.head-search-bar .input-text { line-height: 24px; color: #555; width: 82%; height: 24px; float: left; padding: 6px 1%; border: none 0;}
.head-search-bar .input-submit{ font-size: 14px; color: #FFF; font-weight: 600; background-color: transparent; width: 15%; height: 35px; float: right; border: none; cursor: pointer;}
.head-search-bar .keyword { line-height: 20px; color: #999; white-space: nowrap; width: 500px; height: 20px; margin-top: 4px; overflow: hidden;}
.head-search-bar .keyword ul { font-size: 0; *word-spacing:-1px/*IE6、7*/; vertical-align: top; display: inline-block; *display:inline/*IE6、7*/;}
.head-search-bar .keyword ul li { font-size: 12px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display:inline/*IE6、7*/; margin-right: 12px;}
.head-search-bar .keyword ul li a { color: #777;}

.header-wrapper{    background: #f50;    position: relative;    z-index: 10;    width: 100%;}
.header-wrapper  .nav-list{}
.header-wrapper  .nav-list li{float:left;line-height: 45px;}
.header-wrapper .nav-list li a{display:block;color:#fff;padding: 0 30px; font-family:"宋体"   ;  text-decoration: none;    font-size: 16px;    white-space: nowrap}
.header-wrapper .nav-list li.hover a,.header-wrapper .nav-list li.hover2 a{color:#fff; background-color: #f30;}

/*分类*/
.category-title {    width: 200px;    float: left;}
.category-title h2{line-height: 45px; color: #fff;cursor: pointer; font-size: 16px; padding-left: 20px;}


.category-list {  z-index:999; display:none;position:absolute; width:200px; border:1px #f50 solid; border-top:none; box-sizing:border-box; padding:3px 3px 3px 0px; background:#FAFAFA; }
.category-list .item {border-top:1px solid #FFFFFF;z-index:99;}
.category-list .item h3 { height:40px; line-height:40px; border:1px; font-size:14px; font-weight: 400;  width:201px; overflow:hidden;}
.category-list .hover h3 { position:relative;  background:#FFF; border-color:#DDD; border-width:1px 0px; border-style:solid;  z-index: 99;}
.category-list .item a{ display: block ;}
.category-list .item h3 i{ margin: 0px 5px 0px 10px; color: #d58512}
.category-list .item span {color:#A40000; font-family:"\5B8B\4F53"; }
.category-list .item a { color:#000; text-decoration:none; }


.category-list .item-list {    display:none;    position:absolute;    width:505px;    min-height:100px;    _height:100px;    background:#FFF;    left:200px;     border:1px solid #ddd;    top:3px; z-index: 1}

.category-list .item-list .subitem { float:left; width:477px; padding:0px 4px 0px 8px; }
.category-list .item-list .subitem dl { border-top:1px solid #EEE; padding:6px 0px; overflow:hidden; zoom:1; }
.category-list .item-list .subitem dt { float:left; width:60px; line-height:22px; text-align:right; padding:3px 6px 0px 0px; font-weight:600; color:#E4393C; font-size:14px;}
.category-list .item-list .subitem dt a { color:#E4393C; text-decoration:underline; }
.category-list .item-list .subitem dd { float:left; width:400px; padding:3px 0px 0px; overflow:hidden; }
.category-list .item-list .subitem dd em { float:left; height:14px; line-height:14px; padding:0px 8px; margin-top:5px; border-left:1px solid #CCC; font-size:14px; }
.category-list .item-list .subitem dd em a { color:#666; text-decoration:none; }
.category-list .item-list .subitem dd em a:hover { font-weight:normal; text-decoration:underline; }

/* index */
.banner {  width: 100%;    max-width: 1920px;    margin: 0 auto;}
.allbox{   font-family: "微软雅黑"; margin-top:10px;}
.allbox>dt{ height:36px; line-height:36px;border-bottom:2px solid #cd1212; font-size:30px;  color:#000}
.allbox>dt span{ float:left}
.allbox>dt h3{ color:#990000; font-size:20px; float:left; padding-left:10px; }
.allbox>dt p{ font-size:12px; float:left; font-family:"ËÎÌå"; padding-left:30px; }
.allbox>dd{ }
.morebox{font-family:"宋体";  color:#333; float:right; margin-right:10px; font-size:12px;  height:36px; font-size:14px;}


.mod-conleft{float:left;overflow:hidden;width:249px;}
.mod-conleft .md-img{display:block;position:relative}
.mod-conleft .md-img:before{content:'';position:absolute;width:80px;height:300px;top:0;left:-150px;overflow:hidden;background:-moz-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,.2) 50%,rgba(255,255,255,0) 100%);background:-webkit-gradient(linear,left top,right top,color-stop(0,rgba(255,255,255,0)),color-stop(50%,rgba(255,255,255,.2)),color-stop(100%,rgba(255,255,255,0)));background:-webkit-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,.2) 50%,rgba(255,255,255,0) 100%);background:-o-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,.2) 50%,rgba(255,255,255,0) 100%);-webkit-transform:skewX(-25deg);-moz-transform:skewX(-25deg)}
.mod-conleft .md-img:hover:before{left:250px;-webkit-transition:left 1s;-moz-transition:left 1s;transition:left 1s}
.mod-conleft .md-img img{width:249px;height:296px;background:0 0}
.mod-conleft .md-img p{height:52px;line-height:52px;position:absolute;bottom:0;left:0}
.mod-conleft .md-img p.title-bg{background-color:#FFF;opacity:.5;filter:alpha(opacity=50);width:100%}
.mod-conleft .md-img p.con-til{font-size:16px;color:#333;padding-left:10px;font-family:\5fae\8f6f\96c5\9ed1;width:240px}
.mod-conleft .md-img p.con-til i{font-size:18px;margin-left:3px;font-style:normal;display:inline;font-family:Arial}
.mod-conleft .md-othertry{position:relative;overflow:hidden ;border: 1px solid #E7E7E7}
.md-othertry ul{margin-top:-1px; }
.md-othertry ul li{height:66px;border-top:1px dashed #E2E2E2;padding:10px 10px 10px 6px;background-color:#FEFEFE}
.md-othertry ul li a{display:block;overflow:hidden;width:229px;height:64px;cursor:pointer}
.md-othertry ul li a img{width:64px;height:64px;float:left}
.md-othertry ul li a .ot-con{float:left;margin-left:11px;width:154px}
.md-othertry ul li a .ot-con p{text-overflow:ellipsis;overflow:hidden;white-space:nowrap;color:#555;margin-top:8px}
.md-othertry ul li a .ot-con p .ot-tag{float:right;border:1px solid #F5531F;color:#F5531F;display:block;padding:0 7px;border-radius:10px;line-height:20px;font-family: 宋体;}
.md-othertry ul li a .ot-con p strong{color:#ff6100;font-weight:700;font-family:Arial}
.md-othertry ul li a:hover img{opacity:.8;filter:alpha(opacity=80)}
.md-othertry ul li a:hover .ot-con p .ot-tag{background-color:#F3451F;color:#fff;}

.allbox .middle-goods-list {  float: right; width: 876px; border-left: 1px solid #E7E7E7;}
.allbox .middle-goods-list ul li{ width: 218px; height: 278px;  float: left; overflow: hidden; border-right: 1px solid #E7E7E7;    border-bottom: 1px solid #E7E7E7;}
.allbox .middle-goods-list ul li:hover img{opacity:.8;filter:alpha(opacity=80)}
.allbox .middle-goods-list ul li:hover .goods-price strong{background-color:#F3451F;color:#FFF;border-color:#F3451F}
.allbox .middle-goods-list ul li a{display: block; margin: 15px 15px 0px 15px; text-align: center}
.allbox .middle-goods-list li .goods-name { font-family: Tahoma; line-height: 19px; height: 38px; text-align: left;color: #555;}
.allbox .middle-goods-list li .goods-thumb{ height: 188px; width:188px;text-align: center; vertical-align: middle; display: table-cell; }
.allbox .middle-goods-list li .goods-thumb img {max-width: 188px; max-height: 188px; margin-top:expression(160-this.height/2);
    *margin-top:expression(80-this.height/2);}
.allbox .middle-goods-list li .goods-price {  text-align: left; margin-top: 5px;}
.allbox .middle-goods-list li .goods-price em{line-height: 30px;font-size: 14px; }
.allbox .middle-goods-list li .goods-price strong { padding: 6px 8px;    background-color: #FCE2E4;    border-radius: 2px;    float: right;    font-weight: normal;    border: 1px solid #FCE2E4;    color: #f63a00; font-size: 12px;}

/* 商品列表*/
.goods_list { font-size: 0; *word-spacing:-1px/*IE6、7*/; display: block; width: 1000px; margin-left: -16px;}
.goods_list li { font-size: 12px; vertical-align: middle; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE6,7*/;  width: 238px; height: 375px; margin: 12px 0 0 12px; *zoom:1;}
.goods_list .goods-content { line-height: 18px; background-color: #FFF; height: 290px; margin: 3px; border: solid 1px #F0F0F0; border-radius: 2px; position:relative; overflow: hidden; box-shadow: 0 0 3px rgba(153,153,153,0.1); transition: border-color 0.4s ease-in-out 0s;}
.goods_list .goods-content:hover { z-index: 12;}
.goods_list .goods-pic { background: #FFF; width: 220px; height: 220px; padding: 5px 5px 0 5px; margin: 0; z-index: 1; top: 0; left: 0;}
.goods_list .goods-pic a { line-height: 0; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 220px; height: 220px; overflow: hidden;}
.goods_list .goods-pic img { max-width: 220px; max-height: 220px; margin-top: expression( 220-this.height/2); *margin-top:expression(110-this.height/2)/*IE6,7*/;}
.goods_list .goods-info { width: 230px; margin: 0; position: absolute; z-index: 1; left: 0; top: 230px;}
.goods_list .goods-name { font-size: 12px; line-height: 16px; color: #999; background-color: #FFF; height: 32px; display: block; padding: 0 10px; overflow: hidden;}
.goods_list .goods-name em { color: #F30;}
.goods_list .goods-price { font: 12px/20px Arial; color: #C00; background-color: #FFF; white-space: nowrap; display: block; height: 20px; padding: 5px 10px; overflow: hidden;}
.goods_list .goods-price em.sale-price { font-size: 16px; font-weight: 600; text-overflow: ellipsis; white-space: nowrap; max-width:70px; float: left; overflow: hidden;}
.goods_list .goods-price em.market-price { color: #999; text-decoration: line-through; text-overflow: ellipsis; white-space: nowrap; max-width:50px; float: left; margin-left: 10px; overflow: hidden;}
.goods_list .sell-stat { width: 212px; margin: 0 auto; border-top: solid 1px #EEE; overflow: hidden;}
.goods_list .sell-stat ul { font-size: 0; *word-spacing:-1px/*IE6、7*/; width: 213px; margin-left: -1px;}
.goods_list .sell-stat ul li { vertical-align: middle; letter-spacing: normal; word-spacing: normal; text-align: center; display: inline-block; *display: inline/*IE6,7*/; width: 60px; height: 40px; padding: 5px; margin: 0; border-left: solid 1px #EEE; overflow: hidden; *zoom:1;}
.goods_list .sell-stat ul li span { font: 600 12px/20px Tahoma; color: #B57C5B;}
.goods_list .sell-stat ul li span.status { color: #3388BB;}
.goods_list .sell-stat ul li p { line-height: 20px; color: #999; height: 20px;}
.goods_list .store { line-height: 20px; display: none; background-color: #F5F5F5; text-align: center;height: 20px; clear: both; padding: 8px 0; border-top: solid 1px #EEE;}
.goods_list li:hover .goods-content { height: 350px; margin: 0; border: solid 4px #D93600; border-radius: 0; box-shadow: 0px 4px 4px rgba(102,102,102,0.65);}


.no-result{    color: #AAA;    padding: 200px 0;    text-align: center;}

/* 商品详细*/

.goods_info_box{ border: 1px solid #efefef;}
.goods_info_box .goods_pics{width: 360px; float: left;min-height: 430px; position: relative;border-right: 1px solid #efefef}
.goods_info_box .goods_pics .pic_big{ height: 350px; width:350px;text-align: center; display: table-cell; vertical-align: middle}
.goods_info_box .goods_pics .pic_big img{max-height: 320px; width: 320px;}
.goods_info_box .goods_pics  ul { margin-left: 10px;}
.goods_info_box .goods_pics  ul li { width: 74px; height: 74px; overflow: hidden; float: left; cursor: pointer; }
.goods_info_box .goods_pics  ul li img{border:2px solid #fff; width:64px; height:64px}
.goods_info_box .goods_pics  ul li img.ware_pic_hover {border:2px solid #ff665b }
.goods_info_box .goods_info{width: 600px; float: left;min-height: 430px; padding:0px 10px;line-height: 40px;  background-color: #fafafa}
.goods_info_box .goods_info .name{ padding: 20px 0px;}
.goods_info_box .goods_info .name h1{ font: 700 16px Tahoma;    color: #333;    text-overflow: ellipsis;    white-space: nowrap; overflow: hidden;}
.goods_info .price{ background-color: #eee; padding: 5px 0px;}
.goods_info .price .money{    font-size: 20px;    font-weight: 600;    color: #D93600;    vertical-align: middle;}
.goods_info .shipping_fee{color: #333;}
.goods_info .label{ float: left; display: block;   font-family: simsun;   text-align: right;  color: #666;   width: 96px; font-size: 14px;    margin-right: 6px;}
.goods_info .goods_prompt{line-height: 22px; padding-left: 25px; margin-top: 10px; color: #D93600}
.goods_info .goods_prompt strong{font-size: 1em;    font-style: normal; }
/*购买数量和库存*/

.bottom_buy_box{font-size: 14px;}
.bottom_buy_box .buy_box_opts{padding-left: 20px;}
.bottom_buy_box .buy_box_opts a{width: 120px;}
.bottom_buy_box .buy_box_opts .opt1{background-color: #f85;}
.bottom_buy_box .buy_box_opts .opt2{background-color: #f44;}
.bottom_buy_box .choose{line-height: 40px; margin-top: 10px;}
.bottom_buy_box .stock_count{float: left; margin:5px; color: #999}
 .wrap-input{float: left; padding-top: 5px;}
 .wrap-input span{width: 30px; text-align: center; height: 30px;line-height: 30px; background: #f1f1f1;
    color: #666; border: 1px solid #ccc;float: left;display: block;cursor: pointer}
 .wrap-input input{width: 35px; text-align: center; height: 30px;line-height: 30px; background: #f1f1f1;
    color: #666; border: 0px; border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;float: left;display: block}
.bottom_buy_box .spec_choose{ padding-top: 8px}
.bottom_buy_box .spec_choose span{display:inline-block;padding:0 15px;min-width:20px;max-width:270px;overflow:hidden;height:25px;line-height:25px;float:left;text-align:center;margin-right:10px;color:#333;border: 1px solid #ddd;cursor: pointer}
.bottom_buy_box .spec_choose span.active{ border: 1px solid #e4393c; background-color: #e4393c; color: #fff;}


/*cart*/
.cart_empty{text-align: center; padding-top: 30px; font-size: 16px; font-weight: 700; line-height: 40px;}
.cart_empty a{font-size: 16px;font-weight: normal}
.cart_list .cart_title{background-color: #e5e5e5; line-height: 40px; text-align: center}
.cart_list .cell1{ float: left; width: 80px; }
.cart_list .cell2{ float: left; width: 530px;}
.cart_list .cell3{ float: left; width: 270px;}
.cart_list .cell4{ float: left; width: 150px;}
.cart_list .cell5{ float: left; width: 80px;}
.cart_box{position:relative;margin-top:10px;padding:0 10px;border-top:1px solid #ddd;border-bottom:1px solid #ddd;background:#fff}
.cart_box .checkbox{ float: left; margin:25px; width: 20px; height: 20px;}
.cart_box .shopBar{display:block;height:40px;border-bottom:1px solid #eee;font-size:14px;line-height:40px;color: #333; position: relative}
.cart_box .shopBar i{font-size: 16px; color: #e4393c; margin-right: 4px;}
.cart_box .goods_item{margin-top:10px; font-size: 14px;color: #333; position: relative; border-bottom: 1px dashed #ddd;}
.cart_box .goods_item .oi_content{ float: left; line-height: 30px;}
.cart_box .goods_item .image{float:left;margin-right:10px;height:80px; width: 80px;}
.cart_box .goods_item .spec{padding: 3px 10px; margin-right: 10px; background-color: #ddd}
.cart_box .del{ position: absolute; right: 30px; top: 2px; cursor: pointer}
.cart_box .cart_foot{text-align: right; padding-right: 10px; line-height: 40px; margin-top: 5px;}
.cart_box .cart_foot em{font-weight: 700; color: #c00;font-family: Verdana;}

.cart_bottom{ height: 49px;  background-color: #e5e5e5;}
.cart_bottom label{width: 80px; text-align: center;display: block; float: left; font-size: 14px; position: relative}
.cart_bottom label input{width: 20px; height: 20px; margin: 5px 0px 0px 0px;}
.cart_bottom .total{ float: right}
.cart_bottom .total p {    padding-top: 10px;    font-weight: 700;    line-height: 1em;    height: 50px; float: left;    font-size: 16px;}
.cart_bottom .total strong {    color: #e4393c; color: #c00;}
.cart_bottom .total small {    padding-top: 2px;    display: block;    font-size: 10px;    color: #666;    font-weight: 400;}
.cart_bottom .total>a {  float: left;display: block;width: 150px; margin-left: 10px; line-height: 50px; font-size: 16px; text-align: center; font-weight: 700;background: #e4393c; color: #fff;}
.cart_bottom .total>a em {    font-weight: 400;   font-size: 12px;    font-family: none;}
.cart_bottom .total span{font-family: Verdana;  }


/* article*/.articleLeft{float:left;width:200px;color:#333}
.articleLeft dl{margin-bottom:8px;border:1px solid #eaeaea}
.articleLeft dt{padding:0 10px 0 16px;height:46px;font-size:16px;line-height:46px;font-weight:700;}
.articleLeft dd{padding:12px 0 12px 20px;border-top:1px solid #eaeaea}
.articleLeft dd ul li{font-size:14px;line-height:28px}
.articleLeft dd ul li .active{color:#d22147;font-weight:700}
.articleRight{float:right;width:920px;border:1px solid #eaeaea;min-height:500px}
.articleRight h2{font-size:18px;font-weight:700;letter-spacing:1px;line-height:56px;padding:0 20px;border-bottom:1px solid #eee}
.articleContent{padding:20px;font-size:14px;line-height:200%;}

/*订单提交*/
.addr-cur{display: inline-block;vertical-align: top;position: relative;width: 237px;height: 106px;margin: 0 14px 14px 0;color: #666;cursor: pointer; float:left; background:url(images/addhbg.png) no-repeat}
.addr-cur:hover{ background:url(images/addbg.png) no-repeat}
.addrinner{z-index: 2;position: relative;padding: 11px 15px;overflow: hidden; font-size:12px; line-height: 20px;}
.addrinner h3{ font-weight:normal; border-bottom:1px solid #f2f2f2; font-size:13px;padding: 0 0 5px;margin-bottom: 5px;height: 18px;line-height: 18px;}
.addrinner span a{ font-size:12px; color:#F60; line-height:24px}
.addselect{background:url(images/addbg.png) no-repeat}

.order_box{position:relative;margin-top:10px;padding:0 10px;border-top:1px solid #ddd;border-bottom:1px solid #ddd;background:#fff}
.order_box .order_shopBar{display:block;height:40px;border-bottom:1px solid #eee;font-size:14px;line-height:40px;color: #333; position: relative}
.order_box .order_shopBar i{font-size: 16px; color: #e4393c; margin-right: 4px;}
.order_box .cell1{float: left; width:650px; text-align:left}
.order_box .cell2{float: left; width:130px; text-align:center; margin: 0 2px;}
.order_box .cell3{float: left; width:130px; text-align:center; margin: 0 2px;}
.order_box .cell4{float: left; width:130px; text-align:center; margin: 0 2px;}
.order_box .order_titleBar{    height: 32px;    line-height: 32px;    margin-bottom: 5px;}
.order_box .order_titleBar ul li {       height: 30px;   color: #333;    border-bottom: 2px solid #ecd6b9;}
.order_box .goods_item{margin-top:10px; font-size: 14px;color: #333; position: relative; border-bottom: 1px dashed #ddd;}
.order_box .goods_item .oi_content{ float: left; line-height: 30px;}
.order_box .goods_item .image{float:left;margin-right:10px;height:80px; width: 80px;}
.order_box .goods_item .spec{padding: 3px 10px; margin-right: 10px; background-color: #ddd}


.order_box .order_foot{}
.order_box .order_foot .span{margin-top: 20px; float: left}
.order_box .order_foot .buyer_remark{float: left;background-color: #efefef; margin-top: 8px;font-size: 14px; width: 500px; padding: 5px;}
.order_box .order_foot .foot_money{float: right; text-align: right; width: 400px; padding-right: 10px; line-height: 25px; margin-top: 10px;}
.order_box .order_foot .foot_money em{font-weight: 700; color: #c00;font-family: Verdana;}

.order_bottom{margin-top: 10px;}
.order_bottom .total{ text-align: right}
.order_bottom .total strong {  font-weight: 700; line-height: 50px;  font-size: 14px;  color: #c00; margin-right: 10px;}

/*footer*/.footer{width:100%;margin-top:20px;border-top:5px solid #f50;clear:both;overflow:hidden}
.foottop{width:1200px;clear:both;margin:0 auto 10px;display:block;padding-top:30px}
.footlogo{width:220px;float:left;display:inline-block}
.foottext{width:980px;float:right;display:inline-block;overflow:hidden}
.foottext ul li{width:120px;float:left;display:inline-block;padding:0 38px}
.foottext ul li h3{font-size:18px;font-weight:400;color:#666;height:30px;line-height:30px;margin-bottom:5px}
.foottext ul li h3 img{float:left;padding-right:5px}
.foottext ul li p{padding-left:35px;font-size:13px;height:24px;width:120px;overflow:hidden;line-height:24px;clear:both}
.foottext ul li p a{color:#666}
.foottext ul li p a:hover{text-decoration:underline}
.footbot{text-align:center;font-size:14px;color:#636363;line-height:30px;padding:10px 0;clear:both;border-top:1px solid #eee}
.footbot a{color:#636363}
.footbot a img{margin:5px 5px 0}
