ul {    list-style: none;}
a {    color: #333;}
a:hover {    color: #f40;}
.clear{ clear:both}
.clearFix:after{
    clear:both;
    display:block;
    visibility:hidden;
    height:0;
    line-height:0;
    content:'';
}
.gray{color: #999}
.gray a{color: #999;}
i, cite, em { font-style: normal; }
.money{font-family: Verdana;font-weight: 600; color: #C00;}
fieldset, img {border: 0;vertical-align: middle;}
select, input, button, textarea {font: 100% "Microsoft YaHei";padding: 0;}
:focus {outline: 0 none;}
.hide{display: none}

.but1{color:#FFF; background-color:#d9534f;border:1px solid #df4c43;padding:5px 10px; margin:0 1px;  font-size: 12px; line-height: 1.5; border-radius:3px;}
.but1:hover{background-color:#c9302c; }

.table{ width:100%; border-collapse: collapse; border:1px solid #dddddd;border-bottom:2px solid #dddddd;}
.table .fl{ text-align: left; padding-left: 5px;}
.table .fr{ text-align: right; padding-right: 5px;}
.table th{line-height:36px;border-bottom:2px solid #dddddd; background:#f9f9f9;}
.table td{padding:6px 0; line-height:36px; font-size:14px; text-align:center; border-bottom: 1px solid #f1f1f1;}
.table tr:hover{ background:#f9f9f9}

.table_from{width:100%; border-collapse: collapse; }
.table_from td{padding:6px 0; text-align: left; line-height:36px; font-size:14px; border-bottom: 1px solid #f1f1f1;}
.table_from>tbody>tr>td:first-child{text-align: right; padding-right: 10px; width: 200px;}
.table_from tr:hover{ background:#f9f9f9}

@font-face {
    font-family: 'iconfont';
    src: url('images/iconfont/iconfont.eot');
    src: url('images/iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
    url('images/iconfont/iconfont.woff') format('woff'),
    url('images/iconfont/iconfont.ttf') format('truetype'),
    url('images/iconfont/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}


.page{padding-top:10px}
.p_bar {clear:both;padding:10px 0; text-align:center; font-size:14px; color: #0e0e0e; height: 30px; overflow: hidden;}
.p_info { border:1px solid #dddddd; padding:4px 10px;}
.p_bar a {text-decoration:none;padding:4px 10px; color: #0e0e0e;}
.p_bar a:hover {background:#dddddd;border:1px solid #dddddd; border-left: 0px;text-decoration:none;}
.p_num {background:#FFF;border:1px solid #dddddd; border-left: 0px;}
.p_redirect {background:#FFF;border:1px solid #dddddd; border-left: 0px; padding:4px 10px;}
.p_curpage {border:1px solid #337ab7; border-left: 0px;background:#337ab7;color:#fff; padding:4px 10px;}

.alert-warning{color: #8a6d3b;background-color: #fcf8e3;border-color: #faebcc;padding: 15px;margin: 20px;border: 1px solid transparent; border-radius: 4px;}


/*上传按钮*/
.upload-upimg{height:30px;width:80px;position:relative; overflow:hidden; margin:0 1px;display:inline-block;border-radius: 2px;}
.upload-upimg ._upload_f{height:30px;width:80px; background-color:#d9534f; display:block;
    color: #FFF; font-size:12px; line-height:30px; text-align:center}
.upload-upimg:hover{background-color:#F00;}
.upload-upimg input{width: 100%; height: 100%;cursor: pointer;filter:alpha(opacity=0); -moz-opacity:0;	position:absolute;opacity:0;left:0px;top: 0px;}

.layui-form-selected dl { z-index: 9999;}

.title_container{padding: 10px 0 10px 0px;    margin-bottom: 10px;    font-size: 15px; font-weight: 600;font-family: 宋体;    border-bottom: 1px dashed #ececec;}
.title_container .title {    border-left: 4px solid #f55;    padding-left: 10px;}

/*右侧浮动按钮*/
.floating_ck{position:fixed;top:50%;right:3%;z-index:9999}
.floating_ck a{text-decoration:none}
.floating_ck dl dd{position:relative;margin-bottom:3px;width:40px;height:40px;text-align:center;cursor:pointer; background-color: #e5e5e5}
.floating_ck dl dd:hover{background-color:#e40231}
.floating_ck dl dd:hover .floating_left{display:block}
.floating_ck dl dd:hover i{color:#fff; background-color:#e40231  }
.floating_ck dd span{display:block;padding-top:54px;color:#fff}
.floating_ck dd i{width:40px; line-height: 40px; color:#ff0000; font-size: 20px; }
.floating_ck dd .cart_tip{position:absolute;top:-5px;right:-5px;display:none;width:15px;height:15px;border-radius:50%;background:#e40231;color:#fff;text-align:center;font-style:normal;line-height:15px}
.floating_left{position:absolute;top:0;left:-100px;display:none;width:100px; height: 40px; line-height: 40px;background-color:#e40231;color:#fff;font-size:13px;}


/*用户中心*/
.usernav .avatar{ color:#FF7200; font-size:18px; margin: 20px 50px 0px 100px; display: inline-block;float: left;}
.usernav .avatar img{ width: 42px; height: 42px; border-radius:100%; border: 1px solid #eee}
.usernav .avatar cite, .avatar i{margin-left: 10px}
.usernav .avatar i{line-height: 20px; color: #FF7200;}
.usermenu{ width:400px; height:40px; float:left; display:inline-block; padding:20px 0px;}
.usermenu ul li{ width:100px; height:40px; line-height:40px; font-size:14px; float:left; display:inline-block; text-align:center;}
.usermenu ul li a{ font-size:14px; color:#000; width:100px; height:40px; display:block}
.usermenu ul li a:hover{ background:#ebc5c5; color:#333}