*{max-height: 9999999px;}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
    width: 0;
    height: 0;
    background-color: #fff;
    display: none;
}
@media only screen and (min-width:800px){
    body{ width:760px; margin:0 auto; }
}
ul,li{list-style: none}
em, i {
    font-style: normal;
}
.hide{display: none}
.clear{ clear:both}
.clearFix:after{
    clear:both;
    display:block;
    visibility:hidden;
    height:0;
    line-height:0;
    content:'';
}
@font-face {
    font-family: 'iconfont';
    src: url('images/iconfont/iconfont.eot');
    src: url('images/iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
    url('images/iconfont/iconfont.woff') format('woff'),
    url('images/iconfont/iconfont.ttf') format('truetype'),
    url('images/iconfont/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
/*---------------分页----*/
.page{padding-top:10px}
.p_bar {clear:both;padding:10px 0; text-align:center; font-size:14px; color: #0e0e0e; height: 30px; overflow: hidden;}
.p_info { border:1px solid #dddddd; padding:4px 10px;}
.p_bar a {text-decoration:none;padding:4px 10px; color: #0e0e0e;}
.p_bar a:hover {background:#dddddd;border:1px solid #dddddd; border-left: 0px;text-decoration:none;}
.p_num {background:#FFF;border:1px solid #dddddd; border-left: 0px;}
.p_redirect {background:#FFF;border:1px solid #dddddd; border-left: 0px; padding:4px 10px;}
.p_curpage {border:1px solid #337ab7; border-left: 0px;background:#337ab7;color:#fff; padding:4px 10px;}

input.error,textarea.error,select.error{    border-bottom: #f00 1px dashed;}


body{background:#f8f8f8;}

.gray{color: #999}
.gray a{color: #999;}
i, cite, em { font-style: normal; }
.money{font-family: Verdana;font-weight: 600; color: #C00;}
/*=============================*/

.m_header{ line-height:28px;height:28px; padding:8px 0;background: #eaeaea;color:#333;text-align: center; width:100%; display:block; position:fixed; top:0; left:0; z-index:999;}
.m_header a{color: #333;}
.m_header h1{ height:28px; padding:0 60px; width:100%; box-sizing:border-box; font-size:20px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis; font-weight:normal;}
.m_header .m_header_r{ position:absolute;height: 28px; display:block;right:0; top:0; padding:8px 10px;}
.m_header .m_header_l{ position:absolute;width: 28px;height: 28px; display:block;left:0; top:0;padding:8px 10px;}
.m_header .m_header_l i{ font-size: 20px; color: #333;}
.margin_header{margin-top: 50px;}

.weui-tabbar{left:0}
.weui-tabbar i{font-size: 20px; margin-top: -5px;}
.weui-cell__ft a{font-size: 14px; color: #999;}
    /*=============================*/

.m_header{ line-height:28px;height:28px; padding:8px 0;background: #eaeaea;color:#333;text-align: center; width:100%; display:block; position:fixed; top:0; left:0; z-index:999;}
.m_header a{color: #333;}
.m_header h1{ height:28px; padding:0 60px; width:100%; box-sizing:border-box; font-size:20px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis; font-weight:normal;}
.m_header .m_header_r{ position:absolute;height: 28px; display:block;right:0; top:0; padding:8px 10px;}
.m_header .m_header_l{ position:absolute;width: 28px;height: 28px; display:block;left:0; top:0;padding:8px 10px;}
.m_header .m_header_l i{ font-size: 20px; color: #333;}
.margin_header{margin-top: 50px;}

.weui-tabbar{left:0}
.weui-tabbar i{font-size: 20px; margin-top: -5px;}

.my-navbar{display:-webkit-box;display:-webkit-flex;display:flex;z-index:500;top:0;width:100%;background-color:#fafafa}
.my-navbar:after{content:" ";position:absolute;left:0;bottom:0;right:0;border-bottom:1px solid #CCC;-webkit-transform-origin:0 100%;transform-origin:0 100%;-webkit-transform:scaleY(.5);transform:scaleY(.5)}
.my-navbar__item{position:relative;display:block;-webkit-box-flex:1;-webkit-flex:1;flex:1;padding:5px 0;text-align:center;font-size:15px;-webkit-tap-highlight-color:transparent;border-bottom:1px solid #f3f3f3}
.my-navbar__item.my-navbar__item_on{color:#1AAD19;border-bottom:2px solid #1AAD19}
.my-navbar__item a{display:block;color:#000}
.my-navbar__item.my-navbar__item_on a{color:#1AAD19}


.div_box{background-color: #ffffff; padding: .3rem; margin-bottom: 1rem; border-bottom: 1px solid #d5d5d5; border-top: 1px solid #d5d5d5;font-size: 16px;}
.table_box{font-size:16px;}
.table_box td{line-height: 1.7;}
.table_box>tbody>tr>td:first-child{text-align: right; color: #999999; width: 100px; text-align: right}

.price{font-family: verdana;}
#cart_num{position: absolute;top: -2px;right: -13px;display: none}